<div *ngIf="formGroup" class="alert alert-primary p-5" role="alert">
  <div *ngIf="showThankYouBlock">
    <div class="mb-3 h2 alert-heading">Спасибо за ваш отзыв!</div>
  </div>

  <div *ngIf="!showThankYouBlock">
    <div class="mb-3">
      <p>
        Нам важно мнение пользователей о предоставленной статистике. Интересно
        взглянуть на то, как респонденты оценивают свою зарплату и какие
        ожидания у них относительно рынка труда в Казахстане.
      </p>
      <p>Пожалуйста, примите участие в опросе.</p>
    </div>

    <div>
      <form [formGroup]="formGroup">
        <div class="mb-3">
          <div class="mb-3 h3">1. Была ли статистика полезной для вас?</div>
          <div
            *ngFor="
              let choice of formGroup.usefullnessReplyOptions;
              let i = index
            "
            class="form-check"
          >
            <input
              class="form-check-input"
              type="radio"
              name="usefullnessReply"
              id="usefullnessReply{{ i }}"
              [value]="choice.value"
              (change)="formGroup.onCheckUsefulnessReply($event)"
            />
            <label class="form-check-label" for="usefullnessReply{{ i }}">
              {{ choice.label }}
            </label>
          </div>
          <app-field-error
            [field]="formGroup.get('usefulnessReply')"
          ></app-field-error>
        </div>

        <div class="mb-3">
          <div class="mb-3 h3">
            2. Зарплаты оказались такими, как вы предполагали?
          </div>
          <div
            *ngFor="
              let choice of formGroup.expectationReplyOptions;
              let i = index
            "
            class="form-check"
          >
            <input
              class="form-check-input"
              type="radio"
              name="expectationReply"
              id="expectationReply{{ i }}"
              [value]="choice.value"
              (change)="formGroup.onCheckExpectationReply($event)"
            />
            <label class="form-check-label" for="expectationReply{{ i }}">
              {{ choice.label }}
            </label>
          </div>
          <app-field-error
            [field]="formGroup.get('expectationReply')"
          ></app-field-error>
        </div>

        <div>
          <app-submit-button (btnSubmit)="reply()">Отправить</app-submit-button>
        </div>
      </form>
    </div>
  </div>
</div>
