$listBackgroundColor: #ebecf0;
$listBorderColor: rgb(173, 173, 173);
$cardRadiusColor: #f7f7ff;

.board {
  display: flex;
  width: 100%;
}

.list {
  width: 320px;
  padding: 10px;
  border: 1px solid $listBorderColor;
  background: $listBackgroundColor;
  margin-right: 15px;
  position: relative;
  height: max-content;

  & .list-header {
    font-size: 14px;
  }
}

.card {
  background-color: white;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(9, 30, 66, 0.25);
  cursor: pointer;
  display: block;
  margin-bottom: 8px;
  margin-top: 10px;
  max-width: 300px;
  min-height: 50px;
  position: relative;
  text-decoration: none;
  z-index: 0;
  padding: 8px;
  word-wrap: break-word;

  &:hover {
    background-color: $cardRadiusColor;
  }
}

h1 {
  color: white;
}

.card-button {
  background: rgb(243, 243, 243);
  border: 1px solid #ddd;
  padding: 5px 10px;
  border-radius: 5px;

  &.add-card {
    width: 100%;
    background: $listBackgroundColor;
    border: $listBackgroundColor;
    font-size: 14px;

    &:hover {
      border: rgb(217, 217, 227);
      background: rgb(217, 217, 227);
    }
  }
}

ul.dropdown-list {
  background: #333;
  color: #fff;
  list-style: none;
  text-align: left;
  position: absolute;
  top: 35px;
  right: 0;
  z-index: 2;
  padding: 5px;

  & li {
    padding: 5px 15px;

    &:hover {
      background: #111;
      cursor: pointer;
    }
  }
}

/*
    CDK  Angular Drag n Drop
  */
.card:active {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}
.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 5px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

/* Animate items as they're being sorted. */
.cdk-drop-list-dragging .cdk-drag {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
.cdk-drop-list-dragging {
  background: #d1f5ed;
}
