<div class="mb-3">
  <span class="h4">Зарплаты по грейдам</span>
</div>

<div class="mb-3">
  <div class="mb-2">
    Ниже вы можете включить группы графиков для соответствующего грейда.
    Будет показано по 4 линии на графике: медиана и средняя в Казахстане и медиана и средняя на удаленке.
  </div>
  <div class="">
    <button
      *ngFor="let button of gradesButtons"
      type="button"
      class="me-2 btn btn-sm {{ button.bgCss }} {{ button.textCss }}"
      (click)="button.toggle()">
      {{ button.label }}
    </button>
  </div>
</div>

<div id="canvas-historical-chart-by-grade-container">
  <canvas id="canvas-historical-chart-by-grade">{{ chart }}</canvas>
</div>
