<app-page-header>{{ user?.firstName }} {{ user?.lastName }}</app-page-header>

<div class="container mx-auto mt-5 mb-5" *ngIf="user; else dataLoading">
  <div class="flex flex-wrap" *ngIf="user">
    <div class="w-full sm:w-1/4">
      <div class="bg-white rounded-lg shadow p-6">
        <ul class="divide-y divide-gray-200">
          <li class="px-4 py-3 border-0">
            <div class="text-sm text-gray-500">Email</div>
            <div class="small">
              {{ user.email ?? "-" }}
            </div>
          </li>

          <li class="px-4 py-3 border-0" *ngIf="!user.emailConfirmed">
            <div class="text-sm text-gray-500">Email подтвержден</div>
            <div class="">
              <span
                class="inline-block bg-yellow-500 text-gray-900 text-xs px-2 py-1 rounded"
                >Not confirmed</span
              >
            </div>
          </li>

          <li class="px-4 py-3 border-0" *ngIf="user.deletedAt">
            <div class="text-sm text-gray-500">Статус</div>
            <div class="">
              <span
                class="inline-block bg-red-600 text-white text-xs px-2 py-1 rounded"
                >Удален</span
              >
            </div>
          </li>

          <li class="px-4 py-3 border-0">
            <div class="text-sm text-gray-500">Роли</div>
            <div>
              <app-user-roles-label
                [userRoles]="user.roles"
              ></app-user-roles-label>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div class="w-full sm:w-3/4">
      <div class="bg-white rounded-lg shadow p-6">
        <div class="text-gray-500">Пока работаем над этим.</div>
      </div>
    </div>
  </div>
</div>

<ng-template #dataLoading>
  <div class="container mx-auto mt-5">
    <app-data-loader></app-data-loader>
  </div>
</ng-template>
