<app-page-header>Мои теги</app-page-header>

<div class="container mx-auto py-3" *ngIf="labels; else dataLoading">
  <div class="bg-white rounded-lg shadow">
    <div class="p-6">
      <div
        class="overflow-x-auto mb-3"
        *ngIf="labels.length > 0; else nothingToShow"
      >
        <table
          class="min-w-full divide-y divide-gray-200 text-sm hover:bg-gray-100 odd:bg-white even:bg-gray-50"
        >
          <thead>
            <th></th>
            <th>Название</th>
            <th>Цвет</th>
            <th></th>
          </thead>
          <tbody>
            <tr *ngFor="let item of labels; let i = index">
              <td>{{ i + 1 }}</td>
              <td>{{ item.title }}</td>
              <td>
                <span
                  class="user-label px-3 small border-2 border-radius-2"
                  [style.backgroundColor]="item.hexColor"
                  >{{ item.hexColor }}</span
                >
              </td>
              <td class="text-sm">
                <button type="button" class="btn-link-sm" (click)="edit(item)">
                  Редактировать
                </button>
                <button
                  type="button"
                  class="ml-3 btn-link-sm btn-link-danger"
                  (click)="delete(item)"
                >
                  Удалить
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<app-confirm-dialog
  *ngIf="confirmDeletionMessage"
  [message]="confirmDeletionMessage"
></app-confirm-dialog>

<app-dialog
  [show]="!!editForm"
  (closed)="onEditModalDlgClose()"
  [header]="'Редактировать тег'"
>
  <form
    class="mb-5"
    *ngIf="!!editForm"
    [formGroup]="editForm"
    (ngSubmit)="onFormSubmit()"
  >
    <div class="mb-3">
      <label>Название</label>
      <input
        type="text"
        class="w-full px-3 py-2 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-blue-500"
        formControlName="title"
      />
      <app-field-error [field]="editForm.get('title')"></app-field-error>
    </div>

    <div class="mb-3">
      <label>Цвет</label>
      <input
        type="color"
        class="w-full px-3 py-2 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-blue-500"
        formControlName="hexColor"
      />
      <app-field-error [field]="editForm.get('hexColor')"></app-field-error>
    </div>

    <div class="mb-3">
      <button
        class="bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-700"
        type="submit"
      >
        Сохранить
      </button>
    </div>
  </form>
</app-dialog>

<ng-template #dataLoading>
  <div class="container mx-auto py-5">
    <app-data-loader></app-data-loader>
  </div>
</ng-template>

<ng-template #nothingToShow>
  <div class="text-center text-gray-500 p-3">
    Вы еще не создали ни одного тега
  </div>
</ng-template>
