<div>
  <form *ngIf="form" [formGroup]="form" (ngSubmit)="apply()">
    <div class="h5 mb-2">Глобальные фильтры</div>
    <div class="row">
      <div class="col-md-3">
        <select class="form-select" formControlName="grade">
          <option [value]="null" selected>Все грейды</option>
          <option *ngFor="let item of form.grades" [value]="item.item">
            {{ item.label }}
          </option>
        </select>
      </div>

      <div class="col-md-3 d-flex align-items-end">
        <div>
          <button type="submit" class="btn btn-outline-dark">Применить</button>
          <button type="reset" class="btn btn-outline-secondary ms-2" (click)="reset()">Сброс</button>
        </div>
      </div>
    </div>
  </form>
</div>