<div>
  <form *ngIf="form" [formGroup]="form" (ngSubmit)="apply()">
    <div class="h5 mb-2">Глобальные фильтры</div>
    <div class="row">
      <div class="col-md-2 mb-1">
        <label class="text-sm">Грейд</label>
        <select class="form-select" formControlName="grade">
          <option [value]="null" selected>Все грейды</option>
          <option *ngFor="let item of form.grades" [value]="item.item">
            {{ item.label }}
          </option>
        </select>
      </div>

      <div class="col-md-3 mb-1">
        <label class="text-sm">Данные по специальностям</label>
        <ng-select
            [items]="allProfessions"
            [hideSelected]="true"
            [selectOnTab]="true"
            bindLabel="label"
            bindValue="item"
            placeholder="Все специальности"
            appendTo="body"
            formControlName="profsToInclude"
            [multiple]="true"
          >
          </ng-select>
      </div>

      <div class="col-md-3 mb-1">
        <label class="text-sm">Исключения из выдачи</label>
        <ng-select
            [items]="allProfessions"
            [hideSelected]="true"
            [selectOnTab]="true"
            bindLabel="label"
            bindValue="item"
            placeholder="Выберите исключения"
            appendTo="body"
            formControlName="profsToExclude"
            [multiple]="true"
          >
          </ng-select>
      </div>

      <div class="col-md-4 mb-1 d-flex align-items-end">
        <div>
          <button type="submit" class="btn btn-outline-dark">Применить</button>
          <button type="reset" class="btn btn-outline-secondary ms-2 me-2" (click)="reset()">Сброс</button>
          <app-share-button
            [cssBtnSize]="''"
            (shareClicked)="share()">Поделиться</app-share-button>
        </div>
      </div>
    </div>
  </form>
</div>