<div>
  <div class="">
    <form *ngIf="form" [formGroup]="form" (ngSubmit)="apply()">
      <div class="mb-2 fst-italic">
        Вы можете поделиться информацией с кем-то в соцсетях или телеграме. Для
        этого сначала примените нужные фильтры, а затем нажмите на кнопку
        "Поделиться". Ссылка будет скопирована в буфер обмена
      </div>
      <div class="row">
        <div class="col-md-3 mb-1">
          <label class="text-sm">Грейд</label>
          <select class="form-select" formControlName="grade">
            <option [value]="null" selected>Все грейды</option>
            <option *ngFor="let item of form.grades" [value]="item.item">
              {{ item.label }}
            </option>
          </select>
        </div>

        <div class="col-md-3 mb-1">
          <label class="text-sm">Cпециализации</label>
          <ng-select
            [items]="professionsAsOptions"
            [hideSelected]="true"
            [selectOnTab]="true"
            bindLabel="label"
            bindValue="item"
            placeholder="Все специальности"
            appendTo="body"
            formControlName="profsToInclude"
            [multiple]="true"
          >
          </ng-select>
        </div>

        <div class="col-md-3 mb-1">
          <label class="text-sm">Города</label>
          <ng-select
            [items]="allCities"
            [hideSelected]="true"
            [selectOnTab]="true"
            bindLabel="label"
            bindValue="item"
            placeholder="Выберите города"
            appendTo="body"
            formControlName="cities"
            [multiple]="true"
          >
          </ng-select>
        </div>
        <div class="col-md-3 mb-1">
          <label class="text-sm">Навыки</label>
          <ng-select
            [items]="skillsAsOptions"
            [hideSelected]="true"
            [selectOnTab]="true"
            bindLabel="label"
            bindValue="item"
            placeholder="Выберите навыки"
            appendTo="body"
            formControlName="skills"
            [multiple]="true"
          >
          </ng-select>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 mb-1" *ngIf="showSalariesSource">
          <label class="text-sm">Источник данных</label>
          <select class="form-select" formControlName="salarySourceType">
            <option [value]="null" selected>Собственная статистика</option>
            <option *ngFor="let item of form.sourceTypes" [value]="item.item">
              {{ item.label }}
            </option>
          </select>
        </div>

        <div class="col-md-3 mb-1" *ngIf="showSalariesSource">
          <label class="text-sm">Статистика на дату</label>
          <input type="date" class="form-control" formControlName="dateTo">
        </div>

        <div class="col-md-4 mb-1 d-flex align-items-end">
          <button type="submit" class="btn btn-outline-dark">Применить</button>
          <button
            type="reset"
            class="btn btn-outline-secondary ms-2 me-2"
            (click)="reset()"
          >
            Сброс
          </button>
          <app-share-button
            [title]="'Поделиться'"
            [cssBtnSize]="'small'"
            (shareClicked)="share()"
          ></app-share-button>
        </div>
      </div>
    </form>
  </div>
</div>
