version: "3.4"

networks:
  interviewer-network:
    driver: bridge

services:

  frontend:
    container_name: frontend
    image: {api}
    restart: always
    ports:
      - 8080:4000
    environment:
      - NODE_ENV=production
    networks:
      - interviewer-network
