<div *ngIf="items">
  <div class="table-responsive">
    <table class="table table-hover table-sm">
    <thead>
      <tr>
        <th scope="col">Грейд</th>
        <th scope="col">Медианная, {{ currentCurrencyLabel }}</th>
        <th scope="col">Средняя, {{ currentCurrencyLabel }}</th>
        <th scope="col">Кол-во анкет</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of items">
        <td scope="row">{{ item.gradeAsString }}</td>
        <td>{{ item.medianSalaryAsString }}</td>
        <td>{{ item.averageSalaryAsString }}</td>
        <td>{{ item.count }}</td>
      </tr>
      <tr class="small">
        <td class="text-muted" scope="row" colspan="3">
          Всего анкет, где указан грейд
        </td>
        <td>{{ totalCount }}</td>
      </tr>
    </tbody>
  </table>
  </div>
</div>
