<div class="footer mt-auto d-block">
    <div class="py-5 footer-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 mobile-mb-3">
                    <div class="h4">
                        <a class="footer-link" href="/">Techinterview.space</a>
                    </div>
                    <div class="mt-3">Алматы, Казахстан</div>
                    <div class="mt-3">
                        {{ currentYear }},
                        <a class="footer-link" href="https://mgorbatyuk.dev" target="_blank" rel="noopener noreferrer">© maximgorbatyuk</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mobile-mb-3">
                    <div class="h4 footer-link-header">Наши проекты</div>
                    <ul class="mt-3 no-bullets">
                        <li><a class="footer-link" href="https://t.me/techinterview_salaries_bot" target="_blank" title="Бот для получения зарплатных данных" rel="noopener noreferrer"><i class="bi bi-telegram"></i><span class="ms-2">&#64;techinterview_salaries_bot</span></a></li>
                        <li><a class="footer-link" href="https://t.me/github_profile_bot" target="_blank" title="Бот для получения статистики по профилю Github" rel="noopener noreferrer"><i class="bi bi-telegram"></i><span class="ms-2">&#64;github_profile_bot</span></a></li>
                        <li><a class="footer-link" href="https://maximgorbatyuk.notion.site/e7e9dbadcbf54030b3b92105d96cd98d?utm_source=techinterview.space" target="_blank" title="База знаний по ИП в Казахстане" rel="noopener noreferrer"><i class="bi bi-dot"></i><span class="ms-2">База знаний по ИП в Казахстане</span></a></li>
                        <li><a class="footer-link" href="https://mgorbatyuk.dev/ev-charging-tracker/" target="_blank" title="EV charging tracker" rel="noopener noreferrer"><i class="bi bi-dot"></i><span class="ms-2">EV charging tracker (iOS)</span></a></li>
                        <li><a class="footer-link" href="https://mgorbatyuk.dev/journey-wallet/" target="_blank" title="Journey wallet" rel="noopener noreferrer"><i class="bi bi-dot"></i><span class="ms-2">Journey wallet (iOS)</span></a></li>
                    </ul>
                </div>
                <div class="col-lg-4">
                    <div class="h4 footer-link-header">Ссылки</div>
                    <ul class="mt-3 no-bullets">
                        <li><a class="footer-link" href="/about-us"><i class="bi bi-dot"></i><span class="ms-2">О нас</span></a></li>
                        <li><a class="footer-link" href="/about-telegram-bot"><i class="bi bi-dot"></i><span class="ms-2">О ботах в Telegram</span></a></li>
                        <li><a class="footer-link" href="/agreements/privacy-policy"><i class="bi bi-dot"></i><span class="ms-2">Пользовательское соглашение</span></a></li>
                        <li><a class="footer-link" href="/design-system"><i class="bi bi-dot"></i><span class="ms-2">Дизайн-система</span></a></li>
                        <li><a class="footer-link" href="/?uwu=true"><i class="bi bi-dot"></i><span class="ms-2">UwU?</span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>