<app-page-header>Компании в системе</app-page-header>

<div class="container my-5" *ngIf="companies; else dataLoading">
  <div class="card">
    <div class="card-body">
      <div class="mb-3">
        <div class="row">
          <div class="col-md-6 mb-1">
            <input
              type="text"
              placeholder="Поиск по названию компании. Минимум {{
                MIN_SEARCH_QUERY_LENGTH
              }} символа"
              class="form-control"
              id="searchQuery"
              [(ngModel)]="searchQuery"
              (keyup)="onKeyupEvent($event)"
            />
          </div>
          <div class="col-md-6 mb-1">
            <button
              type="button"
              class="btn btn-outline-primary"
              [disabled]="!searchButtonShouldBeEnabled"
              [class.disabled]="!searchButtonShouldBeEnabled"
              (click)="search()"
            >
              Найти
            </button>
            <button
              type="button"
              class="btn btn-outline-dark ms-2"
              (click)="clearSearch()"
            >
              Сбросить
            </button>
          </div>
        </div>
      </div>

      <div class="mb-5">
        <button class="btn btn-primary" (click)="create()">
          Добавить компанию
        </button>
      </div>

      <div
        class="table-responsive"
        *ngIf="companies.length > 0; else nothingToShow"
      >
        <table class="table table-hover table-sm">
          <thead>
            <tr class="small">
              <th>#</th>
              <th>Название</th>
              <th>Рейтинг</th>
              <th>Кол-во отзывов</th>
              <th>Просмотров</th>
              <th>Slug</th>
              <th>Создана</th>
              <th>Обновлена</th>
              <th>Действия</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of companies; let i = index" class="small">
              <td>{{ i + 1 }}</td>
              <td>
                <a
                  routerLink="/admin/companies/{{ item.id }}"
                  class="btn-link-sm"
                  >{{ item.name }}</a
                >
              </td>
              <td>{{ item.rating | number: "1.2-2" }}</td>
              <td>{{ item.reviews?.length ?? item.reviewsCount }}</td>
              <td>{{ item.viewsCount }}</td>
              <td>{{ item.slug }}</td>
              <td>{{ item.createdAt | date: "yyyy-MM-dd HH:mm" }}</td>
              <td>{{ item.updatedAt | date: "yyyy-MM-dd HH:mm" }}</td>
              <td>
                <button
                  type="button"
                  class="btn-link-sm"
                  (click)="showAiAnalysis(item)"
                >
                  AI Анализ
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="mt-5" *ngIf="source && source.results.length > 0">
        <app-pagination-buttons
          [source]="source"
          (pageChange)="loadData($event)"
        ></app-pagination-buttons>
      </div>
    </div>
  </div>
</div>

<ng-template #dataLoading>
  <div class="container mt-5">
    <app-data-loader></app-data-loader>
  </div>
</ng-template>

<ng-template #nothingToShow>
  <div class="text-center text-muted">
    Еще нет ни одной компании, о которой можно было бы оставить отзыв.
  </div>
</ng-template>

<app-confirm-dialog
  *ngIf="confirmDeletionMessage"
  [message]="confirmDeletionMessage"
></app-confirm-dialog>

<app-dialog
  [additionalCss]="'modal-lg'"
  [show]="!!editForm"
  (closed)="onEditModalDlgClose()"
  [header]="'Редактировать компанию'"
>
  <form
    class="mb-5"
    *ngIf="!!editForm"
    [formGroup]="editForm"
    (ngSubmit)="onEditFormSubmit()"
  >
    <div class="mb-3">
      <label>Название</label>
      <input type="text" class="form-control" formControlName="name" />
      <app-field-error [field]="editForm.get('name')"></app-field-error>
    </div>

    <div class="mb-3">
      <label>Описание</label>
      <textarea class="form-control" formControlName="description"></textarea>
      <app-field-error [field]="editForm.get('description')"></app-field-error>
    </div>

    <div class="mb-3">
      <label>Social ссылка</label>
      <input type="text" class="form-control" formControlName="socialLink" />
      <app-field-error [field]="editForm.get('socialLink')"></app-field-error>
    </div>

    <div class="mb-3">
      <label>URL для логотипа</label>
      <input type="text" class="form-control" formControlName="logoUrl" />
      <app-field-error [field]="editForm.get('logoUrl')"></app-field-error>
    </div>

    <div class="mb-3">
      <button class="btn btn-primary" type="submit">Сохранить</button>
    </div>
  </form>
</app-dialog>

<app-dialog
  [additionalCss]="'modal-lg'"
  [show]="!!aiAnalysisData"
  (closed)="onAiAnalysisModalClose()"
  [header]="'AI Анализ компании'"
>
  <div *ngIf="aiAnalysisData">
    <div class="p-2">
      <textarea
        #aiAnalysisInput
        class="form-control"
        rows="30"
        readonly
      >{{ aiAnalysisJsonContent }}</textarea>
    </div>
    <div class="p-1 d-flex justify-content-between">
      <button class="btn btn-outline-secondary" (click)="onAiAnalysisModalClose()">
        Закрыть
      </button>
      <button
        class="btn btn-outline-dark"
        (click)="copyAiAnalysis(aiAnalysisInput)"
      >
        <i class="{{ copyBtnIcon }}"></i> {{ copyBtnTitle }}
      </button>
    </div>
  </div>
</app-dialog>
