@use "../../../_colors" as colors;

.navbar-brand:hover {
  text-decoration: underline;
}

.nav-link {
  color: colors.$text-gray-600;
  text-decoration: none;

  &:hover {
    color: colors.$text-gray-900;
  }
}
