<nav class="navbar navbar-expand-md navbar-light bg-white border-bottom border-2">
  <div class="container">
    <a class="navbar-brand" routerLink="/"
      ><img class="me-1 img-fluid logo-image" src="/assets/img/ti_logo_mini.png" /><span>Tech.Interview</span></a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav mb-2 mb-md-0">
        <li class="nav-item dropdown" *ngFor="let dropdown of dropdowns">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            *ngIf="dropdown.show"
          >
            {{ dropdown.title }}
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li *ngFor="let link of dropdown.links">
              <a class="dropdown-item" routerLink="{{ link.url }}" *ngIf="link.show">{{ link.title }}</a>
            </li>
          </ul>
        </li>

        <li class="nav-item ms-3" *ngIf="!loginName; else loggedIn">
          <a
            class="btn btn-primary {{ !loginButtonAvailable ? 'disabled' : '' }}"
            aria-current="page"
            (click)="login()"
            [attr.disabled]="!loginButtonAvailable"
            >Войти</a
          >
        </li>
        <ng-template #loggedIn>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              {{ loginName }}
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" routerLink="/me">Мой профиль</a></li>
              <li><a class="dropdown-item" routerLink="users/me/labels">Мои метки</a></li>
              <li><hr class="dropdown-divider" /></li>
              <li><a class="dropdown-item" routerLink="/admin" *appHasRole="'admin'">Админка</a></li>
              <li class="cursor-pointer"><a class="dropdown-item" (click)="logout()">Выйти</a></li>
            </ul>
          </li>
        </ng-template>
      </ul>
    </div>
  </div>
</nav>
