<nav *ngIf="isBrowser" class="navbar navbar-expand-xl border-bottom">
  <div class="container">
    <a class="navbar-brand" routerLink="/"
      ><img
        class="me-1 img-fluid logo-image no-dim"
        src="/img/images/cat_logo.png"
        alt="Techinterview.space logo"
        width="30"
        height="30"
      />
      <span>Techinterview.space</span></a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse justify-content-end"
      id="navbarSupportedContent"
    >
      <app-navbar-actions
        [loginName]="loginName"
        [loginButtonAvailable]="loginButtonAvailable"
        (loginClick)="login()"
        (logoutClick)="logout()"
      ></app-navbar-actions>
      <app-navbar-list [dropdowns]="dropdowns"></app-navbar-list>
    </div>
  </div>
</nav>
