@use "../../../_colors" as colors;

.navbar-brand:hover {
  text-decoration: underline;
}

.nav-link {
  &:hover {
    color: colors.$bg-petrel-dark;
    background-color: #ffffff;
    border-radius: 5px;
    filter: brightness(95%);
  }
}

.logo-image {
  width: 28px;
}
