<app-page-header>{{ pageTitle }}</app-page-header>

<div class="container my-5" *ngIf="organization; else dataLoading">
  <div class="row">
    <div class="col-sm-3">
      <div class="card">
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item" *ngIf="organization.description">
              <div class="text-muted small">Description</div>
              <div class="small">
                {{ organization.description }}
              </div>
            </li>
            <li class="list-group-item">
              <div class="text-muted small">Manager</div>
              <div class="">
                <app-user-link [css]="'link-as-text'" [user]="organization.manager"></app-user-link>
              </div>
            </li>
            <li class="list-group-item">
              <div class="text-muted small">Status</div>
              <div>
                <app-status-label [status]="organization.active"></app-status-label>
              </div>
            </li>

            <li class="list-group-item" *ngIf="organization.active">
              <div class="text-muted small">Last update</div>
              <div>
                {{ organization.updatedAt | date: 'HH:mm yyyy-MM-dd' }}
              </div>
            </li>

            <li class="list-group-item" *ngIf="!organization.active">
              <div class="text-muted small">Archived at</div>
              <div>
                {{ organization.deletedAt | date: 'HH:mm yyyy-MM-dd' }}
              </div>
            </li>

            <li class="list-group-item" *ngIf="showActions">
              <div class="text-muted small">Actions</div>
              <div>
                <button *ngIf="organization.active" type="button" class="btn-link-sm me-1" (click)="openEditDialog()">
                  Edit
                </button>
                <button
                  *ngIf="organization.active"
                  type="button"
                  class="btn-link-sm btn-link-danger me-1"
                  (click)="delete()"
                >
                  Delete
                </button>
                <button
                  *ngIf="!organization.active"
                  type="button"
                  class="btn-link-sm btn-link-danger me-1"
                  (click)="remove()"
                >
                  Remove
                </button>
              </div>
            </li>

            <li class="list-group-item" *ngIf="organization.active && openByMemberOfTheOrganization">
              <div class="text-muted small">Links</div>
              <div>
                <ul class="no-bullets">
                  <li>
                    <a routerLink="/boards/{{ organization.id }}/recruitment-pipeline">Recruitment pipeline board</a>
                  </li>
                  <li><a routerLink="/organizations/{{ organization.id }}/interviews">Interviews</a></li>
                  <li>
                    <a routerLink="/organizations/{{ organization.id }}/interview-templates">Interview templates</a>
                  </li>
                  <li>
                    <a routerLink="/organizations/{{ organization.id }}/candidate-cards">Candidate cards</a>
                  </li>
                  <li>
                    <a routerLink="/organizations/{{ organization.id }}/candidates">Candidates</a>
                  </li>
                </ul>
              </div>
            </li>
          </ul>

          <hr class="my-3" />
          <div class="">
            <app-go-back-button></app-go-back-button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-9">
      <div class="mb-3" *ngIf="organization.users && organization.users.length > 0; else noUsers">
        <div class="card card-body">
          <div class="mb-3 d-flex justify-content-between">
            <span class="h5">Users</span>
            <button *ngIf="showActions" type="button" class="btn btn-sm btn-outline-dark" (click)="openInviteDialog()">
              Invite user
            </button>
          </div>

          <div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item" *ngFor="let item of organization.users; let i = index">
                <div class="d-flex justify-content-between">
                  <div class="d-inline-block">
                    <div>
                      <span class="me-1 text-muted small">{{ i + 1 }}.</span>
                      <app-user-link [css]="'link-as-text'" [user]="item.user"></app-user-link>
                    </div>
                    <div class="text-muted small">Since {{ item.createdAt | date: 'HH:mm yyyy-MM-dd' }}</div>
                  </div>
                  <div class="h-100">
                    <button
                      *ngIf="currentUser?.id !== item.user?.id && showActions"
                      type="button"
                      class="btn-link-sm btn-link-danger"
                      (click)="excludeUser(item)"
                    >
                      Exclude
                    </button>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="mb-3" *ngIf="organization.invitations && organization.invitations.length > 0">
        <div class="card card-body">
          <div class="mb-3 d-flex justify-content-between">
            <span class="h5">Invitations</span>
          </div>

          <table class="table table-hover table-sm">
            <thead>
              <th></th>
              <th>User</th>
              <th>When</th>
              <th>Status</th>
              <th *ngIf="showActions"></th>
            </thead>
            <tbody>
              <tr *ngFor="let item of organization.invitations; let i = index">
                <td class="text-muted small">{{ i + 1 }}</td>
                <td><app-user-link [css]="'link-as-text'" [user]="item.invitedUser"></app-user-link></td>
                <td>{{ item.createdAt | date: 'HH:mm yyyy-MM-dd' }}</td>
                <td>
                  <app-organization-invitation-status [status]="item.status"></app-organization-invitation-status>
                </td>
                <td *ngIf="showActions">
                  <button type="button" class="btn-link-sm btn-link-danger" (click)="removeInvitation(item)">
                    Remove
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #dataLoading>
  <div class="container mt-5">
    <app-data-loader></app-data-loader>
  </div>
</ng-template>

<ng-template #noUsers>
  <div class="card card-body">
    <div class="text-muted p-5 text-center">User list is not available</div>
  </div>
</ng-template>

<app-dialog [show]="!!editForm" (closed)="onEditModalDlgClose()" [header]="'Edit organization'">
  <div>
    <form class="mb-5" *ngIf="!!editForm" [formGroup]="editForm" (ngSubmit)="onFormSubmit()">
      <div class="mb-3">
        <label>Name</label>
        <input type="text" class="form-control" formControlName="name" />
        <app-field-error [field]="editForm.get('name')"></app-field-error>
      </div>

      <div class="mb-3">
        <label>Desription</label>
        <textarea class="form-control" rows="5" formControlName="description"></textarea>
        <app-field-error [field]="editForm.get('description')"></app-field-error>
      </div>

      <div class="mb-3">
        <button class="btn btn-primary" type="submit">Save</button>
      </div>
    </form>
  </div>
</app-dialog>

<app-dialog
  [show]="!!inviteUserForm"
  (closed)="onInviteUserModalDlgClose()"
  [header]="'Invite user to the organization'"
>
  <div>
    <form class="mb-5" *ngIf="!!inviteUserForm" [formGroup]="inviteUserForm" (ngSubmit)="onInviteUserFormSubmit()">
      <div class="mb-3">
        <label>User email</label>
        <input type="text" class="form-control" formControlName="email" />
        <app-field-error [field]="inviteUserForm.get('email')"></app-field-error>
      </div>

      <div class="mb-3">
        <button class="btn btn-primary" type="submit">Invite</button>
      </div>
    </form>
  </div>
</app-dialog>

<app-confirm-dialog *ngIf="confirmDeletionMessage" [message]="confirmDeletionMessage"></app-confirm-dialog>
