<app-page-header>Пользовательское соглашение</app-page-header>

<div class="container mb-5">
  <div class="card">
    <div class="card-body">
      <div class="px-5">
        <div class="small text-muted">Обновлено: 2024-04-21</div>
        <div class="small text-muted">Дата вступления в силу: 2024-04-21</div>

        <div class="mt-3 h3">1. Общие положения</div>
        <div class="mt-2">
          Данное Пользовательское соглашение (далее — Соглашение) регулирует
          отношения между Techinterview.space (далее — Сайт или Администрация) и
          пользователем интернет-сервисов Сайта (далее — Пользователь).
        </div>

        <div class="mt-5 h3">2. Предмет соглашения</div>
        <div class="mt-2">
          Сайт Techinterview.space предоставляет Пользователю возможность
          внесения информации о зарплатных данных в целях формирования
          статистической информации. Информация, предоставляемая Пользователем,
          должна быть достоверной и актуальной.
        </div>

        <div class="mt-5 h3">3. Права и обязанности сторон</div>
        <div class="mt-2">
          <div>3.1. Пользователь имеет право:</div>
          <ul>
            <li>
              Пользоваться всеми доступными сервисами Сайта в соответствии с его
              функционалом.
            </li>
            <li>
              Запрашивать информацию у Администрации касательно обработки его
              данных.
            </li>
          </ul>
        </div>

        <div class="mt-2">
          <div>3.2. Пользователь обязуется:</div>
          <ul>
            <li>
              При использовании Сайта предоставлять достоверную или близкую к
              достоверности информацию.
            </li>
          </ul>
          <div>
            Работодатели часто пишут в трудовых договорах и соглашениях, что
            разглашать свою зарплату работник не имеет права. Мы не собираем
            личную информацию, имен, фамилий и места работы, потому данные о
            зарплате обезличены.
          </div>
          <div>
            Мы будем рады, если Пользователь поделится достоверной информацией о
            зарплате, однако если Пользователь укажет свою зарплату с небольшой
            погрешностью, то это несильно повлияет на статистику и статистика
            будет все равно релевантной.
          </div>
        </div>

        <div class="mt-2">
          <div>3.3. Администрация обязуется:</div>
          <ul>
            <li>
              Обеспечивать доступность Сайта Пользователю за исключением времени
              проведения технических работ и непредвиденных обстоятельств.
            </li>
            <li>Обеспечивать сохранность внесенных данных.</li>
            <li>
              Обеспечивать вывод обезличенной информации на Сайте таким образом,
              чтобы никто не смог скомпрометировать Пользователя.
            </li>
          </ul>
        </div>

        <div class="mt-5 h3">4. Обработка и защита данных</div>
        <div class="mt-2">
          <ul>
            <li>
              4.1. Сайт не собирает email адреса, телефонные номера и личные
              данные Пользователей.
            </li>
            <li>
              4.2. Вся предоставляемая Пользователем информация используется
              исключительно в целях формирования общедоступной статистики.
            </li>
            <li>
              4.3. Пользователь дает согласие на обработку предоставленных
              данных с целью их анализа и формирования статистических отчетов.
            </li>
          </ul>
        </div>

        <div class="mt-5 h3">5. Изменения в пользовательском соглашении</div>
        <div class="mt-2">
          Администрация Сайта оставляет за собой право вносить изменения в
          настоящее Соглашение. Новая редакция Соглашения вступает в силу с
          момента ее размещения на Сайте, если иное не предусмотрено новой
          редакцией Соглашения.
        </div>

        <div class="mt-5 h3">6. Заключительные положения</div>
        <div class="mt-2">
          Настоящее Соглашение подлежит применению в соответствии с
          законодательством Республики Казахстан Все возможные споры по поводу
          Соглашения решаются путем переговоров, а при не достижении согласия —
          в соответствии с действующим законодательством.
        </div>

        <hr class="mt-5" />

        <div class="mt-5 mb-3">
          <div class="h2">Контактная информация</div>
          <p>В случае возникновения вопросов обращайтесь:</p>
          <ul>
            <li>По Email: ake111aa&#64;ya.ru</li>
            <li>По telegram: &#64;maximgorbatyuk</li>
          </ul>
          <script
            data-cfasync="false"
            src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"
          ></script>
        </div>
      </div>
    </div>
  </div>
</div>
