<div class="">
  <div class="h5 mb-3">{{ title }}</div>

  <div class="fst-italic mb-2" *ngIf="currentSalary != null && currentSalary.skillId == null; else hasSkillInSalary">
    <div>Вы пока не указали ваш основной навык.</div>
    <div>Уточнить данные <button type="button" class="btn-link-sm fst-italic font-weight-normal" (click)="openEditSalaryAction()">можно тут</button></div>
  </div>

  <div class="col-md-9" *ngIf="canvasId">
    <div id="canvas-container">
      <canvas [attr.id]="canvasId">{{chartDataLocal}}</canvas>
    </div>
  </div>
</div>

<ng-template #hasSkillInSalary>
  <div class="fst-italic">
    Вы уже указали ваш основной навык. Спасибо!
  </div>
</ng-template>