<table class="table table-hover clickable">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col" title="">Name</th>
      <th scope="col">Description</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="let item of items; let i = index"
      class="cursor-pointer"
      title="Click to execute"
      (click)="item.execute()"
    >
      <th scope="row">{{ i + 1 }}</th>
      <td>{{ item.title }}</td>
      <td>
        <small>{{ item.hint }}</small>
      </td>
      <td>
        <div *ngIf="item.elapsed; else requestWaiting">
          <span class="badge rounded-pill bg-success" *ngIf="item.success">{{ item.elapsed }} ms</span>
          <span class="badge rounded-pill bg-danger" *ngIf="item.error">{{ item.elapsed }} ms</span>
        </div>
      </td>
    </tr>
  </tbody>
</table>

<ng-template #requestWaiting>
  <span class="badge rounded-pill bg-warning">Wait</span>
</ng-template>
