<div class="row">
  <div class="col-md-4 col-sm-12 mb-4" *ngFor="let card of cards">
    <div class="card h-100 shadow-lg d-flex align-items-center flex-column">
      <div class="card-body">
        <div class="text-center p-3">
          <div class="h4 card-title">{{ card.title }}</div>
          <div class="my-3">
            <div *ngIf="card.price !== null; else noPrice">
              <span class="h4">${{ card.price }}</span
              >/month
            </div>
          </div>
        </div>
        <p class="card-text text-muted">{{ card.text }}</p>
      </div>

      <div class="card-body mt-auto d-flex flex-column">
        <ul class="list-group list-group-flush">
          <li *ngFor="let feature of card.features" class="list-group-item">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-check"
              viewBox="0 0 16 16"
            >
              <path
                d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"
              />
            </svg>
            {{ feature }}
          </li>
        </ul>
        <div class="text-center mt-auto pt-3">
          <button
            *ngIf="card.enabled; else disabledButton"
            class="btn btn-outline-primary btn-lg"
            (click)="getStarted()"
          >
            {{ card.buttonTitle }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #noPrice>
  <span>Contact us</span>
</ng-template>

<ng-template #disabledButton>
  <button class="btn btn-outline-primary btn-lg disabled" disabled>
    Coming soon
  </button>
</ng-template>
