.card {
  border: none;
  padding: 10px 50px;

  &::after {
    position: absolute;
    z-index: -1;
    opacity: 0;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  }

  &:hover {
    backface-visibility: hidden;
    will-change: transform;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.75) !important;
  }

  &:hover::after {
    opacity: 1;
  }

  &:hover .btn-outline-primary {
    color: white;
    background: #007bff;
  }
}
