<div class="">
  <div class="h4 mb-3">Гендер респондента в таблицах</div>

  <div class="row">
    <div class="col-md-6 mb-2" *ngIf="barsForLocal.length > 0">
      <div class="h5 mb-2">Казахстан</div>
      <div>
        <table class="table table-hover table-sm">
          <thead>
            <tr>
              <th scope="col">Гендер</th>
              <th scope="col">Кол-во анкет</th>
              <th scope="col">Доля</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of barsForLocal" class="small">
              <td>{{ item.label }}</td>
              <td>{{ item.value }}</td>
              <td>{{ item.part | number: "1.3" }}%</td>
            </tr>
            <tr class="small">
              <td class="text-muted">Всего</td>
              <td>{{ totalCountLocal }}</td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="col-md-6 mb-2" *ngIf="barsForRemote.length > 0">
      <div class="h5 mb-2">Удаленка</div>
      <div>
        <table class="table table-hover table-sm">
          <thead>
            <tr>
              <th scope="col">Гендер</th>
              <th scope="col">Кол-во анкет</th>
              <th scope="col">Доля</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of barsForRemote" class="small">
              <td>{{ item.label }}</td>
              <td>{{ item.value }}</td>
              <td>{{ item.part | number: "1.3" }}%</td>
            </tr>
            <tr class="small">
              <td class="text-muted">Всего</td>
              <td>{{ totalCountRemote }}</td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div
    class="mb-3 fst-italic"
    *ngIf="
      currentSalary != null && currentSalary.gender == null;
      else hasGenderInSalary
    "
  >
    <div>Вы пока не указали ваш пол.</div>
    <div>
      Уточнить данные
      <button
        type="button"
        class="btn-link-sm fst-italic font-weight-normal"
        (click)="openEditSalaryAction()"
      >
        можно тут
      </button>
    </div>
  </div>
</div>

<ng-template #hasGenderInSalary>
  <div class="fst-italic text-muted">Вы уже указали ваш пол. Спасибо!</div>
</ng-template>
