<div>
  <div
    class="table-responsive"
    *ngIf="items && items.length > 0; else nothingToShow"
  >
    <table class="table table-hover table-sm">
      <thead class="small">
        <th>ЗП, тенге</th>
        <th>Период</th>
        <th>Возраст</th>
        <th>Гендер</th>
        <th>Работает с</th>
        <th>Специальность</th>
        <th>Грейд</th>
        <th>Компания</th>
        <th>Город</th>
        <th>Навык</th>
        <th>Индустрия</th>
        <th>Добавлено</th>
      </thead>
      <tbody>
        <tr class="small" *ngFor="let item of items; let i = index">
          <td>{{ item.value | number : "1.0-0" }}</td>
          <td>{{ item.quarter }}.{{ item.year }}</td>
          <td>{{ item.age }}</td>
          <td>{{ item.gender }}</td>
          <td>{{ item.yearOfStartingWork }}</td>
          <td>{{ item.profession }}</td>
          <td>
            <app-developer-grade-label
              [grade]="item.gradeAsEnum"
            ></app-developer-grade-label>
          </td>
          <td>{{ item.company }}</td>
          <td>{{ item.city }}</td>
          <td>{{ item.skill }}</td>
          <td>{{ item.industry }}</td>
          <td>{{ item.createdAt | date : "yyyy-MM-dd HH:mm" }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="mt-3" *ngIf="source && source.results.length > 0">
    <app-pagination-buttons
      [source]="source"
      (pageChange)="loadData($event)"
    ></app-pagination-buttons>
  </div>
</div>

<ng-template #dataLoading>
  <div class="container mt-5">
    <app-data-loader></app-data-loader>
  </div>
</ng-template>

<ng-template #nothingToShow>
  <div class="card">
    <div class="card-body">
      <div class="text-center">There is no salaries.</div>
    </div>
  </div>
</ng-template>
