<app-page-header>График добавления анкет</app-page-header>

<div class="container my-5">
  <div class="card">
    <div class="card-body">
      <div class="mb-3">
        <div id="canvas-container">
          <canvas id="canvas">{{ chart }}</canvas>
        </div>
      </div>

      <div class="">
        <div class="mb-2">
          <span class="me-2">Зарплат на одного пользователя:</span>
          <span>~{{ salariesPerOneUser | number: "1.0-5" }}</span>
        </div>

        <div class="mb-2">
          <span class="me-2">Пользователи, кто оставил анкету:</span>
          <span>{{ usersWhoLeftSalary }}</span>
        </div>

        <div class="mb-2">
          <span class="me-2">Пользователи, кто не оставил анкет</span>
          <span>{{ allUsersCount - usersWhoLeftSalary }}</span>
        </div>

        <div class="mb-2">
          <span class="me-2">Пользователей всего:</span>
          <span>{{ allUsersCount }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
