<app-page-header>Salaries to be approved</app-page-header>

<div class="container my-5" *ngIf="salaries; else dataLoading">
  <div class="card">
    <div class="card-body">

      <app-salaries-admin-paginated-table
        [source]="source"
        [salaries]="salaries"
        [filter]="filter"
        [showApproveButton]="true"
        (approveRequested)="approveSalary($event)"
        (loadDataRequested)="loadData($event)"
        (deleteRequested)="deleteSalary($event)"
        ></app-salaries-admin-paginated-table>

    </div>
  </div>
</div>

<ng-template #dataLoading>
  <div class="container mt-5">
    <app-data-loader></app-data-loader>
  </div>
</ng-template>
