<div *ngIf="candidateCard">
  <div *ngIf="!formCreated; else editForm">
    <div class="row">
      <div class="col-8">
        <div class="mb-3" *ngIf="candidateCard.labels">
          <app-label *ngFor="let label of candidateCard.labels" [label]="label"></app-label>
        </div>

        <div class="mb-3">
          <div>Contacts:</div>
          <markdown *ngIf="candidateCard.candidate?.contacts; else noContactsData">{{
            candidateCard.candidate?.contacts
          }}</markdown>
        </div>

        <div class="mb-5">
          <app-card-cv-files-list [card]="candidateCard"></app-card-cv-files-list>
        </div>

        <div class="mb-5">
          <app-card-interviews-list [candidateCard]="candidateCard"></app-card-interviews-list>
        </div>

        <div class="mb-3">
          <div class="mb-2 fw-bolder">Activity</div>

          <div class="mb-3" *ngIf="commentForm">
            <app-card-comment-form
              [card]="candidateCard"
              (commentAdded)="commentFormSubmit($event)"
            ></app-card-comment-form>
          </div>

          <div class="mb-3">
            <app-card-user-comment
              *ngFor="let item of candidateCard.comments"
              [comment]="item"
              [currentUser]="currentUser"
              (deleteClicked)="deleteComment($event)"
            ></app-card-user-comment>
          </div>
        </div>
      </div>

      <div class="col-4">
        <div class="mb-3">
          <div *ngIf="statusDropdownButton" class="dropdown mb-3">
            <button
              class="btn btn-{{ statusDropdownButton.css }} dropdown-toggle"
              type="button"
              id="statusDropdown"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              {{ statusDropdownButton.label }}
            </button>
            <ul class="dropdown-menu" aria-labelledby="statusDropdown">
              <li *ngFor="let button of statusDropdownButton.buttons">
                <button type="button" class="dropdown-item" (click)="updateStatus(button.status)">
                  <span class="badge bg-{{ button.css }}">{{ button.label }}</span>
                </button>
              </li>
            </ul>
          </div>

          <hr />

          <div class="mb-3">
            <app-share-button [relativeUrl]="'/candidate-cards/' + candidateCard!.id"></app-share-button>
            <button type="button" class="btn-link-sm ms-2 me-2" (click)="openFormAction()">Edit</button>
            <button
              type="button"
              class="btn-link-sm me-2"
              (click)="archive()"
              *ngIf="candidateCard.active; else restoreButton"
            >
              Archive
            </button>
          </div>

          <hr />

          <div class="mb-2">
            <div class="text-muted small">Created by</div>
            <app-user-link [css]="'link-as-text'" [user]="candidateCard.openBy"></app-user-link>
          </div>

          <div class="mb-2" *ngIf="candidateCard.organization">
            <div class="text-muted small">Organization</div>
            <app-organization-link
              [css]="'link-as-text'"
              [organization]="candidateCard.organization"
            ></app-organization-link>
          </div>

          <div class="mb-2">
            <div class="text-muted small">Last update</div>
            <div>{{ candidateCard.updatedAt | date: 'HH:mm yyyy-MM-dd' }}</div>
          </div>

          <div class="mb-2" *ngIf="!candidateCard.active">
            <div class="text-muted small">Status</div>
            <div><app-status-label [status]="candidateCard.active"></app-status-label></div>
          </div>

          <div class="mb-2" *ngIf="!candidateCard.active">
            <div class="text-muted small">Archived at</div>
            <div>{{ candidateCard.deletedAt | date: 'HH:mm yyyy-MM-dd' }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #editForm>
  <form *ngIf="!!cardForm" [formGroup]="cardForm" (ngSubmit)="updateCardAction()">
    <div class="mb-3">
      <label>First name</label>
      <input formControlName="candidateFirstName" type="text" class="form-control" />
      <app-field-error [field]="cardForm.get('candidateFirstName')"></app-field-error>
    </div>

    <div class="mb-3">
      <label>Last name</label>
      <input formControlName="candidateLastName" type="text" class="form-control" />
      <app-field-error [field]="cardForm.get('candidateLastName')"></app-field-error>
    </div>

    <div class="mb-3">
      <div class="d-flex justify-content-between">
        <label>Contacts</label>
        <span class="text-muted small">Markdown is supported</span>
      </div>
      <textarea class="form-control" formControlName="candidateContacts" rows="3"></textarea>
      <app-field-error [field]="cardForm.get('candidateContacts')"></app-field-error>
    </div>

    <div class="mb-3">
      <label>Labels</label>
      <app-labels-ng-select
        [labels]="labels"
        [(selectedLabels)]="selectedLabels"
        [placeholder]="'Select tags for your candidate card'"
      ></app-labels-ng-select>
    </div>

    <div class="mb-3 d-flex justify-content-between">
      <button type="button" class="btn btn-outline-dark" (click)="closeFormAction()">Cancel</button>
      <button class="btn btn-primary" type="submit">Save</button>
    </div>
  </form>
</ng-template>

<ng-template #noContactsData>
  <span class="text-muted">No contacts left</span>
</ng-template>

<ng-template #restoreButton>
  <button type="button" class="btn-link-sm me-2" (click)="restore()">Restore</button>
</ng-template>
