<div class="">
  <div class="h5 mb-3">Где живут респонденты</div>

  <div class="row">
    <div class="col-12 col-md-3 mb-3 mb-md-0">
      <div class="mb-1">
        <input
          type="checkbox"
          class="cursor-pointer form-check-input"
          id="includeNoDataCheckboxCities"
          [(ngModel)]="showNoDataArea"
          [ngModelOptions]="{ standalone: true }"
          (change)="changeShowNoDataAreaToggler()"
        />
        <label
          class="ms-3 form-check-label fst-italic cursor-pointer"
          for="includeNoDataCheckboxCities"
        >
          Включить пункт "Нет данных"
        </label>
      </div>
    </div>

    <div class="col-12 col-md-9">
      <div class="" *ngIf="canvasId">
        <div id="canvas-container">
          <canvas [attr.id]="canvasId">{{ chartDataLocal }}</canvas>
        </div>
      </div>
    </div>

    <div
      class="mb-3 fst-italic"
      *ngIf="
        currentSalary !== null && currentSalary.city === null;
        else hasCityInSalary
      "
    >
      <div class="alert alert-warning p-3">
        Вы пока не указали город проживания. Уточнить данные
        <button
          type="button"
          class="btn-link-sm fst-italic font-weight-normal"
          (click)="openEditSalaryAction()"
        >
          можно тут
        </button>
      </div>
    </div>
  </div>
</div>

<ng-template #hasCityInSalary>
  <div class="fst-italic text-muted">
    Вы уже указали ваш город проживания. Спасибо!
  </div>
</ng-template>
