<div *ngIf="comment" class="mb-3 candidate-comment">
  <div class="small">
    <a class="comment-author link-as-text" routerLink="/users/{{ comment.authorId }}">{{ comment.authorName }}</a>
    <span class="text-muted ms-2">
      {{ comment.createdAt | date: 'HH:mm, yyyy-MM-dd' }}
    </span>
  </div>
  <markdown>{{ comment.comment }}</markdown>
  <div class="small" *ngIf="showDeleteButton">
    <button type="button" class="btn-link-sm btn-link-danger" (click)="delete()">Delete</button>
  </div>
</div>
