<app-page-header>{{ user?.fullName }}</app-page-header>

<div class="container mt-5 mb-5" *ngIf="user; else dataLoading">
  <div class="row" *ngIf="user">
    <div class="col-sm-3">
      <div class="card card-body">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <div class="small text-muted">Email</div>
            <div class="small">
              {{ user.email ?? "-" }}
            </div>
          </li>

          <li class="list-group-item" *ngIf="!user.emailConfirmed">
            <div class="small text-muted">Статус email</div>
            <div class="">
              <span class="badge bg-warning text-dark">Не подтвержден</span>
            </div>
          </li>

          <li class="list-group-item" *ngIf="user.deletedAt">
            <div class="small text-muted">Статус аккаунта</div>
            <div class="">
              <span class="badge bg-danger text-light">Удален</span>
            </div>
          </li>

          <li class="list-group-item">
            <div class="small text-muted">Роли</div>
            <div>
              <app-user-roles-label
                [userRoles]="user.roles"
              ></app-user-roles-label>
            </div>
          </li>

          <li class="list-group-item" *ngIf="user.isMfaEnabled">
            <div class="small text-muted">Статус MFA</div>
            <div>
              <div class="">
                <span class="badge bg-success text-light">Включен</span>
              </div>
              <div class="mt-2">
                <button
                  type="button"
                  class="btn btn-outline-primary btn-sm"
                  (click)="openDisableMfaDialog()"
                >
                  Выключить MFA
                </button>
              </div>
            </div>
          </li>

          <li class="list-group-item" *ngIf="!user.isMfaEnabled">
            <div class="small text-muted">Статус MFA</div>
            <div>
              <div class="">
                <span class="badge bg-secondary text-light">Выключен</span>
              </div>
              <div class="mt-2">
                <button
                  type="button"
                  class="btn btn-outline-primary btn-sm"
                  (click)="openMfaSetupDialog()"
                >
                  Настроить MFA
                </button>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div class="col-sm-9">
      <div class="card card-body pb-5">
        <div class="d-flex justify-content-between">
          <span class="h5">Отправленные в статистику зарплаты</span>
          <span>
            <button
              type="button"
              class="btn btn-outline-dark btn-sm"
              (click)="toggleBlurTable()">
              {{ blurTable ? "Показать" : "Скрыть" }} зарплаты
            </button>
          </span>
        </div>
        <div class="mt-5" *ngIf="mySalaries != null && mySalaries.length > 0">
          <table class="table table-hover" [class.blur]="blurTable">
            <thead class="small">
              <th></th>
              <th>Период</th>
              <th>Специальность</th>
              <th>Грейд</th>
              <th>Компания</th>
              <th>Город</th>
              <th>Навык</th>
              <th>Сфера</th>
              <th>Добавлено</th>
            </thead>
            <tbody>
              <tr class="small" *ngFor="let item of mySalaries; let i = index">
                <td>{{ item.value | formatAsMoney }}</td>
                <td>{{ item.quarter }}.{{ item.year }}</td>
                <td>{{ item.profession }}</td>
                <td>
                  <app-developer-grade-label
                    [grade]="item.gradeAsEnum"
                  ></app-developer-grade-label>
                </td>
                <td>{{ item.company }}</td>
                <td>{{ item.city }}</td>
                <td>{{ item.skill }}</td>
                <td>{{ item.industry }}</td>
                <td>{{ item.createdAt | date: "yyyy-MM-dd HH:mm" }}</td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="mt-5 class p-5" *ngIf="mySalaries != null && mySalaries.length === 0">
          <div class="alert alert-info">
            <span>Вы еще не отправляли зарплаты в статистику.</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #dataLoading>
  <div class="container mt-5">
    <app-data-loader></app-data-loader>
  </div>
</ng-template>

<app-dialog
  [show]="!!mfaQrCodeImage"
  (closed)="onQrModalDlgClose()"
  [header]="'Просканируйте QR для добавления MFA'"
  [additionalCss]="'modal-lg'"
>
  <div class="text-center">
    <img [src]="mfaQrCodeImage" class="img-fluid" alt="QR code" />
  </div>
</app-dialog>

<app-confirm-dialog
  *ngIf="confirmDisablingMfaMessage"
  [message]="confirmDisablingMfaMessage"
></app-confirm-dialog>
