<app-page-header>Мои шаблоны</app-page-header>

<div class="container my-5" *ngIf="templates; else dataLoading">
  <div class="card">
    <div class="card-body">
      <div class="table-responsive mb-3" *ngIf="templates.length > 0; else nothingToShow">
        <table class="table table-hover table-sm">
          <thead>
            <th>#</th>
            <th>Название</th>
            <th>Тем</th>
            <th>Публичный?</th>
            <th>Теги</th>
            <th>Обновлено</th>
            <th></th>
          </thead>
          <tbody>
            <tr *ngFor="let item of templates; let i = index">
              <td>{{ i + 1 }}</td>
              <td>{{ item.title }}</td>
              <td>{{ item.subjects?.length ?? 0 }}</td>
              <td><app-visibility-label [visibility]="item.isPublic"></app-visibility-label></td>
              <td><app-label *ngFor="let label of item.labels" [label]="label"></app-label></td>
              <td>{{ item.updatedAt | date: 'HH:mm yyyy-MM-dd' }}</td>
              <td>
                <a routerLink="/interviews/templates/{{ item.id }}" class="btn-link-sm"> Открыть</a>
                <button type="button" class="btn-link-sm btn-link-danger ms-1" title="Delete" (click)="delete(item)">
                  Удалить
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<ng-template #dataLoading>
  <div class="container my-5">
    <app-data-loader></app-data-loader>
  </div>
</ng-template>

<ng-template #nothingToShow>
  <div class="card">
    <div class="card-body">
      <div class="text-center">Вы не создали еще пока шаблонов.</div>

      <div class="text-center mt-3">
        <a routerLink="/interviews/templates/create" class="btn btn-primary">
          <i class="bi bi-plus-circle"></i> Создать новый
        </a>
      </div>
    </div>
  </div>
</ng-template>

<app-confirm-dialog *ngIf="confirmDeletionMessage" [message]="confirmDeletionMessage"></app-confirm-dialog>
