<div class="container">
  <div class="row pt-5">
    <div class="col-sm d-flex align-items-end">
      <div class="d-inline-block my-5">
        <div class="display-1">Tech.Interview</div>
        <div class="lead">Conduct an interview. Make your notes. Create templates.</div>
      </div>
    </div>
    <div class="col-sm">
      <img src="/assets/img/Job-Interview-vector.png" alt="Interviewer" class="img-fluid" />
    </div>
  </div>
</div>

<div class="mt-5">
  <div *ngFor="let hint of images" class="feature {{ hint.background }}">
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <div class="feature-title">{{ hint.title }}</div>
          <div class="mt-3 feature-subtitle">{{ hint.subtitle }}</div>
        </div>
        <div class="col-sm-8">
          <div *ngIf="hint.showPreloader" class="h-100 d-flex justify-content-center align-items-center">
            <div class="spinner-border" style="width: 3rem; height: 3rem" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
          </div>
          <img
            [hidden]="hint.showPreloader"
            class="feature-image"
            src="{{ hint.imageSrc }}"
            alt="{{ hint.imageAlt }}"
            (load)="showImage(hint)"
            (error)="showImage(hint)"
          />
        </div>
      </div>
    </div>
  </div>
</div>

<div class="feature bg-white">
  <div class="container">
    <app-pricing-block (getStartedClick)="getStarted()"></app-pricing-block>

    <div class="mt-5">
      <hr class="mx-auto w-50" />
    </div>
  </div>
</div>

<div class="feature bg-white">
  <div class="container">
    <div class="feature-title">Ready to start? Just create your first interview or template</div>
    <div class="mt-5">
      <button type="button" class="btn btn-huge btn-primary" (click)="getStarted()">{{ getStartedButtonTitle }}</button>
    </div>
  </div>
</div>
