<div class="">
  <div class="container">
    <div *ngIf="loaded; else notLoaded">
      <div *ngIf="showUwu; else noUwu" class="pt-5">
        <div
          class="d-flex flex-column justify-content-center align-items-center"
        >
          <div class="mb-3 uwu-image" *ngIf="uwuImageLink">
            <img src="{{ uwuImageLink }}" alt="UwU" class="img-fluid" />
          </div>
          <h1 class="display-1 uwu-title">Зарплаты в IT</h1>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="mt-5">
  <div class="feature bg-white">
    <div class="container">
      <div class="row">
        <div class="col-md-7">
          <div class="feature-title feature-title-large">Зарплаты в IT</div>
          <div class="mt-3 feature-subtitle">
            Здесь мы собираем и анализируем данные по зарплатам в IT в
            Казахстане.
          </div>
          <div class="mt-1 feature-subtitle">
            В 2024 году мы решили, что на рынке не хватает актуальной и
            публичной статистики по зарплатам в IT сфере в казахстанских
            компаниях, и нужно это исправить.
          </div>
          <div class="feature-subtitle">
            Хочешь узнать, сколько попросить в следующий раз на собеседовании
            &mdash; посмотри в собранной статистике.
          </div>
          <div class="mt-5">
            <a routerLink="/salaries" class="btn btn-huge btn-purple"
              >Перейти к зарплатам</a
            >
          </div>
        </div>
        <div
          class="col-md-5 d-flex align-items-center justify-content-center align-items-md-end justify-content-md-end"
        >
          <img
            class="img-fluid feature-image"
            src="https://techinterview.fra1.cdn.digitaloceanspaces.com/images/main_charts_transparent_1000.png"
            alt="Графики и статистика зарплат в IT"
            width="1000"
            height="1000"
          />
        </div>
      </div>
    </div>
  </div>

  <div class="feature">
    <div class="container">
      <div class="row">
        <div class="col-md-7">
          <div class="feature-title feature-title-large">
            Отзывы к компаниям в IT
          </div>
          <div class="mt-3 feature-subtitle">
            Поработал в компании и тебе повезло очуться в команде дружелюбных
            профессионалов? Поделись этим с другими, чтобы и они знали, куда
            нужно стремиться. Хочешь узнать о компании подробности, пока ждешь
            оффер? Тебе сюда.
          </div>
          <div class="mt-5">
            <a routerLink="/companies" class="btn btn-huge btn-outline-success"
              >Перейти к списку компаний</a
            >
          </div>
        </div>

        <div
          class="col-md-5 d-flex align-items-center justify-content-center align-items-md-end justify-content-md-end"
        >
          <img
            class="img-fluid feature-image"
            src="https://techinterview.fra1.cdn.digitaloceanspaces.com/images/company_reviews_1000.png"
            alt="Отзывы о компаниях в IT"
            width="1000"
            height="1000"
            loading="lazy"
          />
        </div>
      </div>
    </div>
  </div>

  <div class="feature bg-white">
    <div class="container">
      <div class="row">
        <div class="col-md-7">
          <div class="feature-title feature-title-large">
            Заметки к техническим интервью
          </div>
          <div class="mt-3 feature-subtitle">
            Если ты проводишь технические собеседования и хочешь создать шаблон
            и сохранять фидбеки, чтобы потом делиться ими с коллегами &mdash;
            тебе сюда.
          </div>
          <div class="mt-5">
            <a routerLink="/interviews" class="btn btn-huge btn-outline-primary"
              >Перейти к заметкам</a
            >
          </div>
        </div>

        <div
          class="col-md-5 d-flex align-items-center justify-content-center align-items-md-end justify-content-md-end"
        >
          <img
            class="img-fluid feature-image"
            src="https://techinterview.fra1.cdn.digitaloceanspaces.com/images/main_interview_transparent_1000.png"
            alt="Заметки к техническим интервью"
            width="1000"
            height="1000"
            loading="lazy"
          />
        </div>
      </div>
    </div>
  </div>

  <div class="feature">
    <div class="container">
      <div class="feature-title">
        Наш проект &mdash; некоммерческий и в свободном доступе.
      </div>
      <div class="mt-1 feature-title">Так будет всегда.</div>
      <div class="mt-3 feature-subtitle">
        Мы&nbsp;верим, что этот проект должен быть бесплатным для всех.
        Мы&nbsp;открыли исходный код и&nbsp;будем рады новым контрибьюторам.
      </div>
      <div class="mt-1 feature-subtitle">
        Вы можете поддержать через Boosty или купить нам кофе с помощью кнопок
        ниже. Мы благодарны любой помощи.
      </div>
      <div class="mb-5 mt-3">
        <a
          href="https://github.com/orgs/Techinterview-space/repositories"
          class="me-3 mb-2 btn btn-lg btn-outline-dark"
          rel="noopener noreferrer"
          target="_blank"
        >
          <i class="bi bi-github me-2"></i>Исходный код</a
        >

        <a
          href="https://boosty.to/ake111aa"
          rel="noopener noreferrer"
          class="me-3 mb-2 btn btn-lg btn-outline-dark"
          target="_blank"
        >
          <i class="bi bi-cash-coin me-2"></i>Поддержать на Boosty</a
        >
      </div>
    </div>
  </div>
</div>

<ng-template #noUwu>
  <div class="no-uwu-content">
    <div class="mt-3 mb-1 text-center">
      <h1 class="website-title">Techinterview.space</h1>
      <div class="website-subtitle">
        Зарплаты в IT, отзывы, заметки к техническим интервью.
      </div>
    </div>

    <div class="pt-1 d-flex justify-content-center">
      <img
        src="https://techinterview.fra1.cdn.digitaloceanspaces.com/images/main_transparent_1000.png"
        alt="Techinterview.space — зарплаты в IT, отзывы и заметки к интервью"
        class="website-image"
        width="1000"
        height="1000"
      />
    </div>
  </div>
</ng-template>

<ng-template #notLoaded>
  <div class="stub"></div>
</ng-template>
