<nav class="navbar navbar-expand-lg admin-navbar">
  <div class="container">
    <a class="navbar-brand" routerLink="/admin/">Админка</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#adminNavbar"
      aria-controls="adminNavbar"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="adminNavbar">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown" *ngFor="let dropdown of dropdowns">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            {{ dropdown.title }}
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li *ngFor="let link of dropdown.links">
              <a
                *ngIf="link.isExternal"
                class="dropdown-item"
                href="{{ link.url }}"
                target="_blank"
                >{{ link.title }}
                <i class="bi bi-box-arrow-up-right ms-1 small"></i>
              </a>
              <a
                *ngIf="!link.isExternal"
                class="dropdown-item"
                routerLink="{{ link.url }}"
                >{{ link.title }}</a
              >
            </li>
          </ul>
        </li>
      </ul>

      <form class="d-flex" *ngIf="showSearchForm">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn btn-outline-success disabled" disabled type="submit">
          Поиск
        </button>
      </form>
    </div>
  </div>
</nav>
