<app-page-header>Компания {{ company?.name }}</app-page-header>

<div class="container my-5" *ngIf="company; else dataLoading">
  <div class="card">
    <div class="card-body p-5">
      <div class="mb-5">
        <div class="d-flex justify-content-end">
          <div class="btn-group" role="group">
            <button
              type="button"
              class="btn btn-outline-dark dropdown-toggle"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Действия
            </button>
            <ul class="dropdown-menu">
              <li>
                <button
                  type="button"
                  class="dropdown-item"
                  (click)="openEditForm()"
                >
                  Редактировать
                </button>
              </li>
              <li>
                <button
                  type="button"
                  class="dropdown-item"
                  (click)="recalculateRating()"
                >
                  Пересчитать рейтинг
                </button>
              </li>
              <li>
                <a
                  routerLink="/companies/{{ company.slug ?? company.id }}"
                  class="dropdown-item"
                  >Публичная страница</a
                >
              </li>
            </ul>
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-md-3">Описание</div>
          <div class="col-md-9">
            <div [innerHTML]="companyDescription"></div>
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-md-3">Ссылки</div>
          <div class="col-md-9">
            <div *ngFor="let link of company.links">
              <a [href]="link" target="_blank" rel="noopener">{{ link }}</a>
            </div>
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-md-3">Логотип</div>
          <div class="col-md-9">
            <div *ngIf="company.logoUrl">
              <img
                [src]="company.logoUrl"
                alt="Company Logo"
                class="img-thumbnail"
                style="max-height: 100px"
              />
              <div class="mt-1 small text-muted">{{ company.logoUrl }}</div>
            </div>
            <div *ngIf="!company.logoUrl">Логотип не загружен</div>
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-md-3">Кол-во отзывов</div>
          <div class="col-md-9">
            {{ company.reviews?.length ?? company.reviewsCount }}
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-md-3">Рейтинг</div>
          <div class="col-md-9">
            {{ company.rating }}
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-md-3">Просмотров</div>
          <div class="col-md-9">
            {{ company.viewsCount }}
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-md-3">Slug</div>
          <div class="col-md-9">
            {{ company.slug }}
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-md-3">Даты</div>
          <div class="col-md-9">
            <div>
              Создана: {{ company.createdAt | date: "yyyy-MM-dd HH:mm" }}
            </div>
            <div>
              Обновление: {{ company.updatedAt | date: "yyyy-MM-dd HH:mm" }}
            </div>
          </div>
        </div>
      </div>

      <hr />

      <div
        class="table-responsive mt-5"
        *ngIf="company.reviews.length > 0; else nothingToShow"
      >
        <table class="table table-hover">
          <thead>
            <th>#</th>
            <th>Среднее</th>
            <th>Плюсы</th>
            <th>Минусы</th>
            <th>Статус</th>
            <th>Создано</th>
            <th>Действия</th>
          </thead>
          <tbody>
            <tr *ngFor="let item of company.reviews; let i = index">
              <td>{{ i + 1 }}</td>
              <td>{{ item.totalRating | number: "1.2-2" }}</td>
              <td>{{ item.pros?.length ?? "-" }}</td>
              <td>{{ item.cons?.length ?? "-" }}</td>
              <td>
                {{
                  item.approvedAt
                    ? "Одобрен"
                    : item.outdatedAt
                      ? "Отозван"
                      : "На рассмотрении"
                }}
              </td>
              <td>{{ item.createdAt | date: "yyyy-MM-dd HH:mm" }}</td>
              <td class="">
                <button
                  class="btn btn-link-sm"
                  (click)="onReviewModalDlgOpen(item)"
                >
                  Посмотреть
                </button>
                <button
                  *ngIf="item.approvedAt == null"
                  class="btn btn-link-sm text-success"
                  (click)="approveReview(item)"
                >
                  Одобрить
                </button>
                <button
                  *ngIf="item.approvedAt != null && item.outdatedAt == null"
                  class="btn btn-link-sm text-danger"
                  (click)="outdateReview(item)"
                >
                  Отозвать
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<ng-template #nothingToShow>
  <div class="text-center">Еще нет отзывов.</div>
</ng-template>

<ng-template #dataLoading>
  <div class="container mt-5">
    <app-data-loader></app-data-loader>
  </div>
</ng-template>

<app-dialog
  [show]="reviewToShow != null"
  (closed)="onReviewModalDlgClose()"
  [header]="'Отзыв ' + reviewToShow?.id"
  [additionalCss]="'modal-lg'"
>
  <div class="" *ngIf="reviewToShow">
    <div class="mb-2">
      <span class="text-muted">Среднее: </span>
      <span class="fw-bold ms-2">{{
        reviewToShow?.totalRating | number: "1.2-2"
      }}</span>
    </div>

    <div class="mb-2">
      <div class="fw-bold text-success">Плюсы</div>
      <div [innerHTML]="reviewToShow?.pros"></div>
    </div>

    <div class="mb-2">
      <div class="fw-bold text-danger">Минусы</div>
      <div [innerHTML]="reviewToShow?.cons"></div>
    </div>

    <div class="mb-2">
      <div class="table-responsive">
        <table class="table table-sm table-striped table-bordered">
          <thead>
            <tr>
              <th>Категория</th>
              <th>Оценка</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Культура и ценности</td>
              <td>{{ reviewToShow.cultureAndValues }}</td>
            </tr>
            <tr>
              <td>Качество кода</td>
              <td>{{ reviewToShow.codeQuality ?? "-" }}</td>
            </tr>
            <tr>
              <td>Work/life баланс</td>
              <td>{{ reviewToShow.workLifeBalance ?? "-" }}</td>
            </tr>
            <tr>
              <td>Компенсация и льготы</td>
              <td>{{ reviewToShow.compensationAndBenefits ?? "-" }}</td>
            </tr>
            <tr>
              <td>Карьера</td>
              <td>{{ reviewToShow.careerOpportunities ?? "-" }}</td>
            </tr>
            <tr>
              <td>Управление</td>
              <td>{{ reviewToShow.management ?? "-" }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</app-dialog>

<app-confirm-dialog
  *ngIf="confirmMessage"
  [message]="confirmMessage"
></app-confirm-dialog>

<app-dialog
  [additionalCss]="'modal-lg'"
  [show]="!!editForm"
  (closed)="onEditModalDlgClose()"
  [header]="'Редактировать компанию'"
>
  <form
    class="mb-5"
    *ngIf="!!editForm"
    [formGroup]="editForm"
    (ngSubmit)="onEditFormSubmit()"
  >
    <div class="mb-3">
      <label>Название</label>
      <input type="text" class="form-control" formControlName="name" />
      <app-field-error [field]="editForm.get('name')"></app-field-error>
    </div>

    <div class="mb-3">
      <label>Описание</label>
      <textarea class="form-control" formControlName="description"></textarea>
      <app-field-error [field]="editForm.get('description')"></app-field-error>
    </div>

    <div class="mb-3">
      <label>Social ссылка</label>
      <input type="text" class="form-control" formControlName="socialLink" />
      <app-field-error [field]="editForm.get('socialLink')"></app-field-error>
    </div>

    <div class="mb-3">
      <label>URL для логотипа</label>
      <input type="text" class="form-control" formControlName="logoUrl" />
      <app-field-error [field]="editForm.get('logoUrl')"></app-field-error>
    </div>

    <div class="mb-3">
      <label>Slug для урла</label>
      <input type="text" class="form-control" formControlName="slug" />
      <app-field-error [field]="editForm.get('slug')"></app-field-error>
    </div>

    <div class="mb-3">
      <button class="btn btn-primary" type="submit">Сохранить</button>
    </div>
  </form>
</app-dialog>
