<div *ngIf="showModal" class="modal d-block" tabindex="-1" role="dialog">
  <div class="modal-dialog custom-alert" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ messageSubject }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="close()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="text-center confirm-message">{{ text }}</p>

        <div>
          <form [formGroup]="declineForm" *ngIf="declineForm">
            <br />
            <div class="form-group">
              <input type="text" class="form-control" formControlName="comment" placeholder="Comment" required />
              <small class="form-text text-muted">Comment is required</small>
              <app-field-error [field]="declineForm.get('comment')"></app-field-error>
            </div>
          </form>
        </div>
        <p class="confirm-button">
          <button class="btn btn-outline-danger mr-1" (click)="decline()">Decline</button>
          <button class="btn btn-outline-secondary" (click)="close()">Cancel</button>
        </p>
      </div>
    </div>
  </div>
</div>
