<app-page-header>Исторические данные</app-page-header>

<div class="container mt-5 mb-5" *ngIf="data; else dataLoading">

  <div class="card">
    <div class="card-body">

      <div class="mb-5">
        <app-salary-chart-global-filters
          [filterData]="filterData"
          [professions]="professions"
          (filtersApplied)="applyGlobalFilters($event)"
          (filtersReset)="resetGlobalFilters()"
          (shareClicked)="share($event)"
        >
          </app-salary-chart-global-filters
        >
      </div>

      <div>
        <app-historical-salaries-chart
          [data]="data.salariesCountWeekByWeekChart"></app-historical-salaries-chart>
      </div>
    </div>
  </div>
</div>

<ng-template #dataLoading>
  <div class="container mt-5">
    <app-data-loader></app-data-loader>
  </div>
</ng-template>
