<app-error-page-component [errorTitle]="'500 ошибка сервера'">
  <div class="mt-3">
    <p>
      Эта ошибка может быть связана с плановыми работами над сервисом, а может
      быть и непредвиденной ошибкой.
    </p>
    <p>На всякий случай, напишите, пожалуйста, в телеграм автору проекта:</p>
    <div class="mt-3">
      <a
        href="https://t.me/maximgorbatyuk"
        target="_blank"
        class="btn btn-outline-dark py-2"
        >Телеграм &#64;maximgorbatyuk</a
      >
    </div>
  </div>
</app-error-page-component>
