.comment-input-stub {
  padding: 0.375rem 0.75rem;
  display: block;
  cursor: pointer;
}

.textarea {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  -webkit-appearance: none;
  appearance: none;
  border: 0;

  overflow: hidden;
  word-wrap: break-word;

  resize: none;

  &:focus {
    outline: none !important;
    border: 0;
  }
}

.textarea-body {
  padding: 0.375rem 0.75rem;
}
