<app-page-header>Использование бота</app-page-header>

<div class="container my-5" *ngIf="stats; else dataLoading">
  <div class="row">
    <div class="col-md-6 pe-1">
      <div class="card">
        <div class="card-body">
          <div class="h5">Пользователи</div>
      <div class="table-responsive">
        <table class="table table-sm table-hover">
          <thead>
            <tr class="small">
              <th>Никнейм</th>
              <th>Кол-во</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of stats.usersStats" class="small">
              <td>{{ user.username }}</td>
              <td>{{ user.count }}</td>
            </tr>
          </tbody>
        </table>
      </div>
        </div>
      </div>
    </div>

    <div class="col-md-6 ps-1">
      <div class="card">
        <div class="card-body">
          <div class="h5">Публичные чаты</div>
      <div class="table-responsive">
        <table class="table table-sm table-hover">
          <thead>
            <tr class="small">
              <th>Чат ID</th>
              <th>Название</th>
              <th>Кол-во</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let chat of stats.chatsStats" class="small">
              <td>{{ chat.chatId }}</td>
              <td>{{ chat.chatName }}</td>
              <td>{{ chat.count }}</td>
            </tr>
          </tbody>
        </table>
      </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #dataLoading>
  <div class="container mt-5">
    <app-data-loader></app-data-loader>
  </div>
</ng-template>
