<app-page-header>Work industries</app-page-header>

<div class="container py-5" *ngIf="items; else dataLoading">
  <div class="card">
    <div class="card-body">

      <div class="mb-2">
        <button class="btn btn-sm btn-primary" (click)="create()">Create</button>
      </div>

      <div class="table-responsive mb-3" *ngIf="items.length > 0; else nothingToShow">
        <table class="table table-hover table-sm">
          <thead>
            <th>ID</th>
            <th>Title</th>
            <th>Color</th>
            <th>Email</th>
            <th></th>
          </thead>
          <tbody>
            <tr *ngFor="let item of items; let i = index">
              <td>{{ item.id }}</td>
              <td>{{ item.title }}</td>
              <td>
                <span class="user-label px-3 small border-2 border-radius-2" [style.backgroundColor]="item.hexColorAsString">{{
                  item.hexColorAsString
                }}</span>
              </td>
              <td>{{ item.createdBy }}</td>
              <td>
                <button type="button" class="btn-link-sm" (click)="edit(item)">Edit</button>
                <button
                  type="button"
                  class="ms-2 btn-link-sm btn-link-danger"
                  (click)="delete(item)"
                >
                  Delete
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<app-confirm-dialog *ngIf="confirmDeletionMessage" [message]="confirmDeletionMessage"></app-confirm-dialog>

<app-dialog [show]="!!editForm" (closed)="onEditModalDlgClose()" [header]="'Edit skill'">
  <form class="mb-5" *ngIf="!!editForm" [formGroup]="editForm" (ngSubmit)="onEditFormSubmit()">
    <div class="mb-3">
      <label>Title</label>
      <input type="text" class="form-control" formControlName="title" />
      <app-field-error [field]="editForm.get('title')"></app-field-error>
    </div>

    <div class="mb-3">
      <div class="d-flex justify-content-between">
        <label>Color</label>
        <button type="button" (click)="editForm.randomizeColor()" class="btn-link-sm">Random</button>
      </div>
      <input type="color" class="form-control" formControlName="hexColor" />
      <app-field-error [field]="editForm.get('hexColor')"></app-field-error>
    </div>

    <div class="mb-3">
      <button class="btn btn-primary" type="submit">Save</button>
    </div>
  </form>
</app-dialog>

<ng-template #dataLoading>
  <div class="container py-5">
    <app-data-loader></app-data-loader>
  </div>
</ng-template>

<ng-template #nothingToShow>
  <div class="text-center p-3 text-muted">No one has not created any industry yet</div>
</ng-template>
