<app-page-header>Опрос о пользе зарплатной статистики</app-page-header>

<div class="container mt-5 mb-5" *ngIf="userData; else dataLoading">

  <div class="card">
    <div class="card-body">
      <div class="" *ngIf="!userData.hasRecentSurveyReply; else userHasResponse">
        <div class="mb-1">
          Нам важно мнение пользователей о предоставленной статистике. 
          Интересно взглянуть на то, как респонденты оценивают свою зарплату и какие ожидания у них относительно рынка труда в Казахстане.
        </div>
        <div class="mb-5">
          Пожалуйста, примите участие в опросе.
        </div>
        <div class="ps-1 pe-1">
          <app-salaries-survey-block
            (closeButtonClick)="closeSurveyBlock()"
            ></app-salaries-survey-block>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #dataLoading>
  <div class="container mt-5">
    <app-data-loader></app-data-loader>
  </div>
</ng-template>

<ng-template #userHasResponse>
  <div class="mb-3">
    <div class="h3 mb-3">Спасибо за участие в опросе!</div>
    <div class="mb-2">Ранее вы уже оставляли ответ на опрос. В скором времени и тут будут результаты опроса, чтобы сделать процесс прозрачным.</div>
    <div>
      <a [routerLink]="['/salaries']">Перейти к зарплатной статистике</a>
    </div>
  </div>
</ng-template>
