<app-navbar></app-navbar>
<app-admin-navbar *ngIf="showAdminNavbar"></app-admin-navbar>

<div class="app-body d-flex flex-column h-100">
  <main class="main flex-shrink-0">
    <div id="body-container">
      <router-outlet></router-outlet>
      <app-alert></app-alert>
      <app-wednesday-frog></app-wednesday-frog>
    </div>
  </main>
  <app-spinner
    name="timer"
    bdOpacity="0.3"
    bdColor="rgba(51,51,51,0.91)"
    color="#fff"
    [fullScreen]="true"
  ></app-spinner>

  <app-spinner
    name="transparent"
    bdOpacity="0"
    bdColor="rgba(51,51,51,0)"
    color="rgba(255,255,255,0)"
    [fullScreen]="true"
  ></app-spinner>
</div>
