<div *ngIf="showErrorBlock" class="container">
  <div class="card">
    <div class="card-body">
      <p class="text-danger" role="alert">
        Произошла ошибка. Попробуйте позднее.
      </p>
    </div>
  </div>
</div>

<div class="container">
  <div class="text-center mt-5" *ngIf="showInfoblock">
    <div class="display-2">Добро пожаловать</div>
    <div class="display-4">Загружаем данные</div>
  </div>

  <div class="text-center mt-5" *ngIf="showMfaBlock">
    <h2>Введите код MFA (TOTP)</h2>
    <input
      type="text"
      [(ngModel)]="totpCode"
      placeholder="Введите 6 цифр TOTP"
    />
    <button type="button" class="btn btn-primary" (click)="validateTotp()">
      Отправить
    </button>
  </div>
</div>
