<div *ngIf="showErrorBlock" class="container">
  <div class="card">
    <div class="card-body">
      <p class="text-danger" role="alert">
        Oops, there was an error, please try to login again.
      </p>
    </div>
  </div>
</div>

<div class="container">
  <div class="text-center mt-5" *ngIf="showInfoblock">
    <div class="display-2">Please wait for a while...</div>
    <div class="display-4">We are preparing some awesome features for you</div>
  </div>

  <div class="text-center mt-5" *ngIf="showMfaBlock">
    <h2>Validate TOTP</h2>
    <input
      type="text"
      [(ngModel)]="totpCode"
      placeholder="Enter TOTP code"
    />
    <button type="button" class="btn btn-primary" (click)="validateTotp()">Validate</button>
</div>
