<app-page-header>Public interview templates</app-page-header>

<div class="container my-5" *ngIf="templates; else dataLoading">
  <div class="card">
    <div class="card-body">
      <div class="table-responsive mb-3" *ngIf="templates.results.length > 0; else nothingToShow">
        <table class="table table-hover table-sm">
          <thead>
            <th>#</th>
            <th>Title</th>
            <th>Subjects</th>
            <th>Last update</th>
            <th></th>
          </thead>
          <tbody>
            <tr *ngFor="let item of templates.results; let i = index">
              <td>{{ i + 1 }}</td>
              <td>{{ item.title }}</td>
              <td>{{ item.subjects.length }}</td>
              <td>{{ item.updatedAt | date: 'HH:mm yyyy-MM-dd' }}</td>
              <td>
                <a routerLink="/interviews/templates/{{ item.id }}" class="btn btn-info text-dark btn-sm">
                  <i class="bi bi-eye-fill"></i> Open
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="" *ngIf="templates && templates.results.length > 0">
        <app-pagination-buttons [source]="templates" (pageChange)="loadTemplates($event)"></app-pagination-buttons>
      </div>
    </div>
  </div>
</div>

<ng-template #dataLoading>
  <div class="container mt-5">
    <app-data-loader></app-data-loader>
  </div>
</ng-template>

<ng-template #nothingToShow>
  <div class="card">
    <div class="card-body">
      <div class="text-center">There is no any public template. Feel free to create the first one</div>

      <div class="text-center mt-3">
        <a routerLink="/interviews/templates/create" class="btn btn-primary">
          <i class="bi bi-plus-circle"></i> Create a template
        </a>
      </div>
    </div>
  </div>
</ng-template>
