<app-page-header>GitHub джобы</app-page-header>

<div class="container my-5" *ngIf="jobs; else dataLoading">
  <div class="card">
    <div class="card-body">
      <div class="mb-3">
        <button
          type="button"
          class="btn btn-outline-primary"
          (click)="loadData()"
        >
          Refresh
        </button>
      </div>

      <div
        class="table-responsive mb-3"
        *ngIf="jobs && jobs.length > 0; else nothingToShow"
      >
        <table class="table table-hover table-sm">
          <thead class="small">
            <th>Username</th>
            <th>Создано</th>
            <th>Обновлено</th>
          </thead>
          <tbody>
            <tr class="small" *ngFor="let job of jobs; let i = index">
              <td class="font-monospace">{{ job.username }}</td>
              <td>{{ job.createdAt | date: "yyyy-MM-dd HH:mm" }}</td>
              <td>{{ job.updatedAt | date: "yyyy-MM-dd HH:mm" }}</td>
              <td>
                <button
                  type="button"
                  class="btn btn-sm btn-outline-danger"
                  (click)="openDeleteDialog(job)"
                >
                  Delete
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<ng-template #nothingToShow>
  <div class="card">
    <div class="card-body">
      <div class="text-center">Нет джобов.</div>
    </div>
  </div>
</ng-template>

<ng-template #dataLoading>
  <div class="container mt-5">
    <app-data-loader></app-data-loader>
  </div>
</ng-template>

<app-confirm-dialog
  *ngIf="confirmDeletionMessage"
  [message]="confirmDeletionMessage"
></app-confirm-dialog>
