.ng-select .ng-select-container {
  min-height: 46px;
  height: 46px;
}

.ng-select.ng-select-single .ng-select-container {
  min-height: 46px;
  height: 46px;
}

.input-container {
  margin-top: 2rem;
}

.form-container {
  padding: 3rem 10rem;
}
