<div>
  <div class="">
    <div class="text-muted">Медианная зарплата в местных компаниях</div>
    <div>
      <span class="display-1 me-2">{{ median }}</span>
      <span class="h4 text-muted">тг.</span>
    </div>
  </div>

  <div class="mt-2">
    <div class="text-muted">Средняя зарплата</div>
    <div class="">
      <span class="h3 me-2">{{ average }}</span>
      <span class="h4">тг.</span>
    </div>
  </div>

  <div class="mt-2">
    <div class="text-muted">Медианная на удаленке</div>
    <div class="">
      <span class="h3 me-2">{{ medianRemote }}</span>
      <span class="h4">тг.</span>
    </div>
  </div>

  <div class="mt-2">
    <div class="text-muted">Средняя на удаленке</div>
    <div class="">
      <span class="h3 me-2">{{ averageRemote }}</span>
      <span class="h4">тг.</span>
    </div>
  </div>
</div>
