/* star-rating.component.scss */
.star-rating {
    display: flex;
    gap: 5px;
  }
  
  .star {
    font-size: 24px;
    cursor: pointer !important;
    color: gold;
    transition: color 0.3s;
  }
  