<div *ngIf="shouldShowError && errors" class="invalid-feedback d-block">
  <div *ngIf="errors['required']">Значение обязательно.</div>
  <div *ngIf="errors['minlength']">Минимум 4 символа.</div>
  <div *ngIf="errors['ngbDate']">
    <span *ngIf="errors['ngbDate']!.invalid">Некорректная дата</span>
  </div>
  <div *ngIf="errors['dateRange']">
    <p class="alert alert-danger small">
      <strong>Дата "До" должна быть позже, чем "От".</strong> Пожалуйста,
      проверьте введенные данные.
    </p>
  </div>
  <div *ngIf="errors['yearRange']">
    <p class="alert alert-danger small">
      <strong>{{ errors["yearRangeError"] }}</strong>
    </p>
  </div>
  <div *ngIf="errors['max']">
    <span>Максимальное значение: {{ max }}</span>
  </div>
  <div *ngIf="errors['min']">
    <span>Минимальное значение: {{ min }}</span>
  </div>
  <div *ngIf="errors['Value']">
    <span>{{ errors["Value"] }}</span>
  </div>
</div>
