<div *ngIf="candidateCard" class="mb-2 d-flex justify-content-between">
  <div class="d-inline-block text-muted small">
    <span class="me-1">Interviews:</span>
    <span>{{ candidateCard.interviews.length }}</span>
  </div>
  <a routerLink="/interviews/create/for-candidate-card/{{ candidateCard.id }}" class="btn-link-sm">Create a new one</a>
</div>
<div *ngIf="candidateCard" class="">
  <ul *ngIf="candidateCard.interviews.length > 0; else noInterviewsYet" class="no-bullets interview-list">
    <li *ngFor="let item of candidateCard.interviews; let i = index">
      <a routerLink="/interviews/{{ item.interviewId }}" target="_blank" title="Open the interview in a new tab">
        <div class="d-flex justify-content-between">
          <div class="d-inline-block">
            <span class="text-muted small me-2">{{ i + 1 }}</span>
            <span class="me-2">{{ item.interviewerName }}</span>
            <span class="text-muted small">
              {{ item.updatedAt | date: 'HH:mm, yyyy-MM-dd' }}
            </span>
          </div>
          <app-employment-status [status]="item.conductedDuringStatus"></app-employment-status>
        </div>
      </a>
    </li>
  </ul>
</div>

<ng-template #noInterviewsYet>
  <div class="no-interviews-yet-block text-center p-3">
    <i>No interviews yet. You can </i>
    <a routerLink="/interviews/create/for-candidate-card/{{ candidateCard!.id }}" class="btn-link-sm">
      <i>start</i>
    </a>
    <i> the first one</i>
  </div>
</ng-template>
