.interview-list li {
  padding: 6px;
  border-radius: 0.375rem;

  & a {
    cursor: pointer;
    text-decoration: none;
    color: inherit;
  }

  &:hover {
    background-color: darken($color: white, $amount: 3%);
  }
}

.no-interviews-yet-block {
  border-radius: 8px;
  background-color: darken($color: #ffffff, $amount: 5%);
  color: #7e7e7e;
  font-size: 0.9rem;
}
