<div class="">
  <div class="h4 mb-3">Где работают респонденты</div>
  <div class="mb-1">
    <input
      type="checkbox"
      class="cursor-pointer form-check-input"
      id="includeNoDataCheckboxIndustries"
      [(ngModel)]="showNoDataArea"
      [ngModelOptions]="{ standalone: true }"
      (change)="changeShowNoDataAreaToggler()"
    />
    <label
      class="ms-3 form-check-label fst-italic cursor-pointer"
      for="includeNoDataCheckboxIndustries"
    >
      Включить в график пункт "Нет данных"
    </label>
  </div>

  <div class="" *ngIf="canvasId">
    <div id="canvas-container">
      <canvas [attr.id]="canvasId">{{ chartDataLocal }}</canvas>
    </div>
  </div>

  <div
    class="fst-italic mb-2"
    *ngIf="
      currentSalary != null && currentSalary.workIndustryId == null;
      else hasSkillInSalary
    "
  >
    <div class="alert alert-warning p-3">
      Вы пока не указали сферу деятельности вашей компании. Уточнить данные
      <button
        type="button"
        class="btn-link-sm fst-italic font-weight-normal"
        (click)="openEditSalaryAction()"
      >
        можно тут
      </button>
    </div>
  </div>

  <div *ngIf="tableRows" class="mt-2">
    <table class="table table-hover table-sm">
      <thead>
        <tr>
          <th scope="col">Индустрия</th>
          <th scope="col">Кол-во анкет</th>
          <th scope="col">Доля</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of tableRows" class="small">
          <td>{{ item.title }}</td>
          <td>{{ item.value }}</td>
          <td>{{ item.part | number : "1.3" }}%</td>
        </tr>
        <tr class="small">
          <td class="text-muted">Всего анкет с данными</td>
          <td>{{ totalCount }}</td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<ng-template #hasSkillInSalary>
  <div class="fst-italic text-muted">
    Вы уже указали сферу деятельности вашей компании. Спасибо!
  </div>
</ng-template>
