<app-page-header>
  {{ pageTitle }}
</app-page-header>

<div class="container mt-5 mb-5" *ngIf="formGroup; else dataLoading">
  <form [formGroup]="formGroup">
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <div class="form-floating mb-3">
              <input
                type="text"
                class="form-control"
                id="title"
                aria-describedby="titleHint"
                formControlName="title"
                placeholder="Type a name of the template"
              />
              <label for="title" class="form-label">Template title</label>
              <app-field-error [field]="formGroup.get('title')"></app-field-error>
            </div>

            <div class="mb-3">
              <app-labels-ng-select [labels]="labels" [(selectedLabels)]="selectedLabels" [placeholder]="'Select tags for your template'"></app-labels-ng-select>
            </div>

            <div class="mb-3 form-check cursor-pointer">
              <input type="checkbox" class="form-check-input" id="isPublic" formControlName="isPublic" />
              <label class="form-check-label" for="isPublic">Visible for everyone</label>
            </div>

            <div class="mb-3 d-flex justify-content-between">
              <div class="d-inline-block">
                <app-go-back-button></app-go-back-button>
              </div>
              <div class="d-inline-block">
                <app-submit-button (btnSubmit)="onSave()">Save</app-submit-button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-8">
        <div class="card">
          <div class="card-body">
            <div class="form-floating mb-3">
              <textarea
                class="form-control"
                placeholder="Type your overall opinion template here"
                id="overallOpinion"
                style="height: 100px"
                formControlName="overallOpinion"
              ></textarea>
              <label for="overallOpinion">Template for 'Overall opinion' field</label>
              <app-field-error [field]="formGroup.get('overallOpinion')"></app-field-error>
              <div class="text-muted small">Markdown is supported</div>
            </div>

            <div class="mb-3 d-flex justify-content-between">
              <span class="h4">Subjects: {{ subjectsCount }}</span>
              <button type="button" class="btn-link-sm" (click)="addSubject()" title="Add a new subject">
                <i class="bi bi-plus-square"></i> Add subject
              </button>
            </div>

            <ul class="list-group list-group-flush" formArrayName="subjects">
              <li
                class="list-group-item"
                *ngFor="let child of formGroup.subjectsFormArray.controls; let subjectIndex = index"
              >
                <div [formGroupName]="subjectIndex">
                  <div class="input-group">
                    <span class="input-group-text">{{ subjectIndex + 1 }}</span>
                    <input
                      type="text"
                      class="form-control"
                      formControlName="title"
                      id="subjectTitle_{{ subjectIndex }}"
                      placeholder="Subject title"
                    />

                    <button
                      class="btn btn-outline-primary"
                      type="button"
                      (click)="formGroup.moveDown(subjectIndex)"
                      title="Move down"
                      [disabled]="!formGroup.canBeMovedDown(subjectIndex)"
                    >
                      <i class="bi bi-arrow-down"></i>
                    </button>

                    <button
                      class="btn btn-outline-primary"
                      type="button"
                      (click)="formGroup.moveUp(subjectIndex)"
                      title="Move up"
                      [disabled]="!formGroup.canBeMovedUp(subjectIndex)"
                    >
                      <i class="bi bi-arrow-up"></i>
                    </button>

                    <button
                      class="btn btn-outline-danger"
                      type="button"
                      (click)="removeSubject(subjectIndex)"
                      title="Remove the subject"
                    >
                      <i class="bi bi-trash-fill"></i>
                    </button>
                  </div>
                  <app-field-error [field]="formGroup.getSubjectTitleField(subjectIndex)"></app-field-error>
                  <div class="ps-5 mt-3">
                    <div class="d-flex justify-content-between">
                      <label>Description</label>
                      <span class="text-muted small">Markdown is supported</span>
                    </div>
                    <textarea class="form-control" rows="5" formControlName="description"></textarea>
                    <app-field-error [field]="formGroup.getSubjectDescriptionField(subjectIndex)"></app-field-error>
                  </div>
                </div>
              </li>
            </ul>

            <div class="mb-3" *ngIf="formGroup.subjectsCount > 1">
              <hr />
              <div class="d-flex justify-content-end">
                <button type="button" class="btn-link-sm" (click)="addSubject()" title="Add a new subject">
                  <i class="bi bi-plus-square"></i> Add subject
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

<ng-template #dataLoading>
  <div class="container py-5">
    <app-data-loader></app-data-loader>
  </div>
</ng-template>
