<div class="row" *ngIf="user">
  <div class="col-sm-3">
    <div class="card card-body">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <div class="small text-muted">Email</div>
          <div class="small">
            {{ user.email ?? '-' }}
          </div>
        </li>

        <li class="list-group-item" *ngIf="!user.emailConfirmed">
          <div class="small text-muted">Email confirmed</div>
          <div class="">
            <span class="badge bg-warning text-dark">Not confirmed</span>
          </div>
        </li>

        <li class="list-group-item" *ngIf="user.deletedAt">
          <div class="small text-muted">Status</div>
          <div class="">
            <span class="badge bg-danger text-light">Deleted</span>
          </div>
        </li>

        <li class="list-group-item">
          <div class="small text-muted">Roles</div>
          <div>
            <app-user-roles-label [userRoles]="user.roles"></app-user-roles-label>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div class="col-sm-9">
    <div class="card card-body">
      <div class="text-muted">Coming soon.</div>
    </div>
  </div>
</div>

