<div *ngIf="selectedListId" class="modal d-block" tabindex="-1" role="dialog">
  <div class="modal-dialog custom-alert modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <span class="h3 modal-title">Select a candidate or add a new one</span>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="close()"></button>
      </div>

      <div class="modal-body">
        <div class="p-1">
          <form *ngIf="addNewCandidateCard" [formGroup]="addNewCandidateCard" (ngSubmit)="addCardSubmitAction()">
            <div class="mb-3">
              <label>First name</label>
              <input formControlName="candidateFirstName" type="text" class="form-control" />
              <app-field-error [field]="addNewCandidateCard.get('candidateFirstName')"></app-field-error>
            </div>

            <div class="mb-3">
              <label>Last name</label>
              <input formControlName="candidateLastName" type="text" class="form-control" />
              <app-field-error [field]="addNewCandidateCard.get('candidateLastName')"></app-field-error>
            </div>

            <div class="mb-3">
              <div class="d-flex justify-content-between">
                <label>Contacts</label>
                <span class="text-muted small">Markdown is supported</span>
              </div>
              <textarea class="form-control" formControlName="candidateContacts" rows="3"></textarea>
              <app-field-error [field]="addNewCandidateCard.get('candidateContacts')"></app-field-error>
            </div>

            <div class="mb-3">
              <label>Labels</label>
              <app-labels-ng-select [labels]="labels" [(selectedLabels)]="selectedLabels" [placeholder]="'Select tags for your template'"></app-labels-ng-select>
            </div>

            <div class="mb-3">
              <button class="btn btn-primary" type="submit">Create new card</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
