<app-page-header>Ревью на аппрув</app-page-header>

<div class="container my-5" *ngIf="reviews; else dataLoading">
  <div class="card">
    <div class="card-body">
      <div
        class="table-responsive"
        *ngIf="reviews.length > 0; else nothingToShow"
      >
        <table class="table table-hover">
          <thead>
            <tr>
              <th>#</th>
              <th>Среднее</th>
              <th>Плюсы</th>
              <th>Минусы</th>
              <th>Компания</th>
              <th>Статус</th>
              <th>Создано</th>
              <th>Действия</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of reviews; let i = index">
              <td>{{ i + 1 }}</td>
              <td>{{ item.totalRating | number: "1.2-2" }}</td>
              <td>{{ item.pros.length || "-" }}</td>
              <td>{{ item.cons.length || "-" }}</td>
              <td>
                <a routerLink="/admin/companies/{{ item.companyId }}">{{
                  item.companyName ?? "-"
                }}</a>
              </td>
              <td>
                {{
                  item.approvedAt
                    ? "Одобрен"
                    : item.outdatedAt
                      ? "Отозван"
                      : "На рассмотрении"
                }}
              </td>
              <td>{{ item.createdAt | date: "yyyy-MM-dd HH:mm" }}</td>
              <td class="small">
                <button
                  class="btn btn-link-sm"
                  (click)="onReviewModalDlgOpen(item)"
                >
                  Посмотреть
                </button>
                <button
                  class="btn btn-link-sm text-success"
                  (click)="approveReview(item)"
                >
                  Одобрить
                </button>
                <button
                  class="btn btn-link-sm text-danger"
                  (click)="deleteReview(item)"
                >
                  Удалить
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<ng-template #dataLoading>
  <div class="container mt-5">
    <app-data-loader></app-data-loader>
  </div>
</ng-template>

<ng-template #nothingToShow>
  <div class="text-center text-muted">Нет отзывов на модерацию</div>
</ng-template>

<app-confirm-dialog
  *ngIf="confirmMessage"
  [message]="confirmMessage"
></app-confirm-dialog>

<app-dialog
  [show]="reviewToShow !== null"
  (closed)="onReviewModalDlgClose()"
  [header]="'Отзыв ' + reviewToShow?.id"
  [additionalCss]="'modal-lg'"
>
  <div class="" *ngIf="reviewToShow">
    <div class="mb-2">
      <span class="text-muted">Среднее: </span>
      <span class="fw-bold ms-2">{{
        reviewToShow.totalRating | number: "1.2-2"
      }}</span>
    </div>

    <div class="mb-2">
      <div class="fw-bold text-success">Плюсы</div>
      <div class="">
        {{ reviewToShow.pros }}
      </div>
    </div>

    <div class="mb-2">
      <div class="fw-bold text-danger">Минусы</div>
      <div class="">
        {{ reviewToShow.cons }}
      </div>
    </div>

    <div class="mb-2">
      <div class="table-responsive">
        <table class="table table-sm table-striped table-bordered">
          <thead>
            <tr>
              <th>Категория</th>
              <th>Оценка</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Культура и ценности</td>
              <td>{{ reviewToShow.cultureAndValues }}</td>
            </tr>
            <tr>
              <td>Качество кода</td>
              <td>{{ reviewToShow.codeQuality ?? "-" }}</td>
            </tr>
            <tr>
              <td>Work/life баланс</td>
              <td>{{ reviewToShow.workLifeBalance }}</td>
            </tr>
            <tr>
              <td>Зарплата и бонусы</td>
              <td>{{ reviewToShow.compensationAndBenefits }}</td>
            </tr>
            <tr>
              <td>Карьера</td>
              <td>{{ reviewToShow.careerOpportunities }}</td>
            </tr>
            <tr>
              <td>Управление</td>
              <td>{{ reviewToShow.management }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</app-dialog>
