<app-page-header>Зарплаты в IT в Казахстане</app-page-header>

<div *ngIf="showDataStub" class="container mt-5 mb-3">
  <div *ngIf="isAuthenticated" class="alert alert-warning" role="alert">
    <div class="mb-2 h3">{{ isYourSalaryWithinMarketTitle }}</div>
    <div class="mb-3">
      Оставьте данные о своей зарплате, чтобы узнать, сколько зарабатывают
      другие IT-специалисты в Казахстане.
    </div>
    <div>
      <button class="btn btn-dark" (click)="openAddSalaryAction()">
        Добавить зарплату
      </button>
    </div>
  </div>

  <div
    *ngIf="!isAuthenticated && !hasPredefinedFilter"
    class="mt-5 alert alert-info"
  >
    <div class="mb-2 h3">{{ isYourSalaryWithinMarketTitle }}</div>
    <div class="mb-3">
      Зарегистрируйтесь и оставьте данные о своей зарплате, чтобы узнать,
      сколько зарабатывают другие IT-специалисты в Казахстане.
    </div>
    <div class="">
      <button
        class="btn btn-primary btn-lg px-5"
        (click)="openAddSalaryAction()"
      >
        Войти / Зарегистрироваться
      </button>
    </div>
  </div>
</div>

<div class="container mb-5" *ngIf="salariesChart != null; else dataLoading">
  <div class="card">
    <div class="card-body p-5">
      <div class="mb-3" *ngIf="hasPredefinedFilter">
        <app-predefined-info-block
          [filterData]="filterData"
          [skills]="skills"
          [industries]="industries"
          [professions]="professions"
        >
        </app-predefined-info-block>
      </div>

      <div class="mb-3">
        <app-salary-block-value
          [source]="salariesChart"
        ></app-salary-block-value>

        <div class="mb-3 mt-3">
          <div class="text-muted mb-3 fst-italic">
            <span
              >* Рассчитано на основе
              {{ salariesChart.countOfRecords }} анкет(ы)</span
            >
          </div>

          <div
            *ngIf="showDataStub && !hasPredefinedFilter"
            class="alert alert-warning"
          >
            <div class="h3">Внимание!</div>
            <div class="mt-2">
              Вы видите <strong>обобщенные данные</strong> для всех
              специальностей, форм работ и грейдов.
              <br />
              Для получения более точной статистики и возможности применять
              фильтры вам нужно
              <button
                class="btn-link-sm fst-italic font-weight-normal px-1"
                (click)="openAddSalaryAction()"
              >
                {{
                  isAuthenticated
                    ? "добавить свою зарплату"
                    : "войти/зарегистрироваться"
                }}
              </button>
            </div>
          </div>

          <div
            *ngIf="showDataStub && hasPredefinedFilter"
            class="alert alert-warning"
          >
            <div class="h3">Внимание!</div>
            <div class="mt-2">
              Вы видите <strong>обобщенные данные</strong> по определенному
              фильтру.
              <br />
              Для получения статистики по всем зарплатам и возможности применять
              фильтры вам нужно
              <button
                class="btn-link-sm fst-italic font-weight-normal px-1"
                (click)="openAddSalaryAction()"
              >
                {{
                  isAuthenticated
                    ? "добавить свою зарплату"
                    : "войти/зарегистрироваться"
                }}
              </button>
            </div>
          </div>

          <div
            class="fst-italic text-muted"
            *ngIf="
              !showDataStub &&
              currentUserSalary &&
              !showAdjustCurrentSalaryProfessionModal
            "
          >
            <div>
              <span
                >Ваша текущая зарплата указана за
                {{ currentUserSalary.quarter }} квартал
                {{ currentUserSalary.year }} года.</span
              >
              <span class="ms-1" *ngIf="currentUserSalary.city == null"
                >Город проживания не указан.</span
              >
            </div>
            <div>
              Вы можете
              <button
                type="button"
                class="btn-link-sm fst-italic font-weight-normal"
                (click)="openEditSalaryAction()"
              >
                изменить эти данные
              </button>
              или
              <button
                type="button"
                class="btn-link-sm fst-italic font-weight-normal"
                (click)="openAddSalaryAction()"
              >
                добавить еще зарплату
              </button>
              к статистике.
            </div>
          </div>

          <div
            *ngIf="!showDataStub && showAdjustCurrentSalaryProfessionModal"
            class="alert alert-warning mt-3"
          >
            <strong class="me-2">Внимание!</strong>
            <span
              >Ваша специальность указана как Developer. На сервисе появилось
              разделение на Mobile, Frontend, Backend, etc, поэтому вы можете
              <button
                type="button"
                class="btn-link-sm fst-italic font-weight-normal"
                (click)="openEditSalaryAction()"
              >
                уточнить свою специальность
              </button></span
            >
          </div>
        </div>
      </div>

      <div
        *ngIf="
          !showDataStub &&
          currentUserSalary != null &&
          currentUserSalary.shouldBeFilledUp
        "
        class="mb-5"
      >
        <div class="alert alert-success">
          <div><strong class="me-2">Спасибо за анкету!</strong></div>
          <div>
            Ваши данные учтены в статистике. Вы также можете
            <button
              type="button"
              class="btn-link-sm fst-italic font-weight-normal"
              (click)="openEditSalaryAction()"
            >
              дополнить
            </button>
            свою анкету, чтобы сделать статистику более точной.
          </div>
        </div>
      </div>

      <div
        *ngIf="!showDataStub && salariesChart.salariesByMoneyBarChart"
        class="mt-5 mb-5"
      >
        <div class="mb-5">
          <app-salary-chart-global-filters
            [filterData]="filterData"
            [professions]="professions"
            (filtersApplied)="applyGlobalFilters($event)"
            (filtersReset)="resetGlobalFilters()"
            (shareClicked)="share($event)"
          >
            ></app-salary-chart-global-filters
          >
        </div>

        <div class="mb-5 display-4 chapter-title">
          <span>Зарплата, специализация и индустрия</span>
        </div>

        <div class="mt-5 mb-5">
          <div class="h4">Зарплаты по грейдам в таблицах</div>
          <div class="row mt-3">
            <div class="col-md-6 mb-3">
              <div class="h5 mb-2">Казахстан</div>
              <app-salaries-by-grade-block
                [source]="salariesChart.localSalariesByGrade"
              ></app-salaries-by-grade-block>
            </div>
            <div class="col-md-6 mb-3">
              <div class="h5 mb-2">Удаленка</div>
              <app-salaries-by-grade-block
                [source]="salariesChart.remoteSalariesByGrade"
              ></app-salaries-by-grade-block>
            </div>
          </div>
        </div>

        <div class="mt-5 mb-5">
          <app-grades-min-max-chart [source]="salariesChart">
          </app-grades-min-max-chart>
        </div>

        <div class="mt-5 mb-5">
          <app-people-distribution-chart
            [chart]="salariesChart"
          ></app-people-distribution-chart>
        </div>

        <div class="mt-5 mb-5">
          <app-people-by-grades-chart
            [source]="salariesChart"
          ></app-people-by-grades-chart>
        </div>

        <div class="mt-5 mb-5" *ngIf="skills.length > 0">
          <app-salaries-skills-chart
            [skills]="skills"
            [currentSalary]="salariesChart.currentUserSalary"
            [salaries]="salariesChart.salaries"
            (editSalaryActionClick)="openEditSalaryAction()"
          >
          </app-salaries-skills-chart>
        </div>

        <div class="mt-3 mb-5" *ngIf="industries.length > 0">
          <app-work-industries-chart
            [industries]="industries"
            [currentSalary]="salariesChart.currentUserSalary"
            [salaries]="salariesChart.salaries"
            (editSalaryActionClick)="openEditSalaryAction()"
          >
          </app-work-industries-chart>
        </div>

        <div class="mb-5 display-4 chapter-title">
          <span>Подробнее о респондентах</span>
        </div>

        <div class="mt-5 mb-5">
          <app-cities-doughnut-chart
            [currentSalary]="salariesChart.currentUserSalary"
            [salaries]="salariesChart.salaries"
            (editSalaryActionClick)="openEditSalaryAction()"
          >
          </app-cities-doughnut-chart>
        </div>

        <div class="mt-5 mb-5">
          <app-people-by-gender-chart
            [salaries]="salariesChart.salaries"
            (editSalaryActionClick)="openEditSalaryAction()"
            [currentSalary]="salariesChart.currentUserSalary"
          ></app-people-by-gender-chart>
        </div>

        <div class="mt-5 mb-5">
          <app-people-by-age-chart
            [source]="salariesChart"
            (editSalaryActionClick)="openEditSalaryAction()"
          ></app-people-by-age-chart>
        </div>

        <div class="mt-5 mb-5">
          <app-people-by-experience-chart
            [source]="salariesChart"
            (editSalaryActionClick)="openEditSalaryAction()"
          ></app-people-by-experience-chart>
        </div>

        <div class="mb-5 display-4 chapter-title">
          <span>Сравнение зарплат и специализаций</span>
        </div>

        <div class="mt-5 mb-5">
          <app-salaries-by-grades-chart
            [chart]="salariesChart.salariesByMoneyBarChart"
            [title]="'Казахстанские компании'"
            [salaries]="salariesChart.salariesPerProfessionForLocal"
            [professions]="professions"
          >
          </app-salaries-by-grades-chart>
        </div>

        <div class="mt-5 mb-5" *ngIf="salariesChart.hasRemoteSalaries">
          <app-salaries-by-grades-chart
            [chart]="salariesChart.salariesByMoneyBarChartForRemote"
            [title]="
              'Зарплаты тех, кто работает удаленно в иностранных компаниях'
            "
            [salaries]="salariesChart.salariesPerProfessionForRemote"
            [professions]="professions"
          >
          </app-salaries-by-grades-chart>
        </div>

        <div *ngIf="shouldShowSurveyBlock" class="mt-3 mb-5">
          <app-salaries-survey-block
            (closeButtonClick)="closeSurveyBlock()"
            ></app-salaries-survey-block>
        </div>

        <div class="mt-3 mb-5">
          <hr />
        </div>

        <div class="mb-5 display-4 chapter-title">
          <span>Исходные данные</span>
        </div>

        <div class="mb-3">
          <app-salaries-paginated-table
            [filter]="filterData"
            [skills]="skills"
            [industries]="industries"
            [professions]="professions"
          ></app-salaries-paginated-table>
        </div>

        <div class="mb-3">
          <app-salaries-adding-chart
            [filter]="filterData"
          ></app-salaries-adding-chart>
        </div>

        <div class="mb-3">
          <div class="mb-5">
            <div>
              Сырые данные можно выгрузить в
              <button
                type="button"
                class="btn-link-sm font-weight-normal"
                (click)="downloadCsv()"
              >
                CSV файл
              </button>
            </div>
            <div>
              В файл будут записаны все данные, несмотря на примененные на
              странице фильтры.
            </div>
          </div>

          <div class="text-muted fst-italic">
            <div>
              Идея подсмотрена у сервиса
              <a
                class="text-reset"
                href="https://career.habr.com/salaries"
                target="_blank"
                >Habr.Карьера</a
              >, за что им большая благодарность.
            </div>
            <div>
              Проект opensource, исходный код доступен на
              <a
                class="text-reset"
                href="https://github.com/orgs/Techinterview-space/repositories"
                target="_blank"
                >Github</a
              >.
            </div>
            <div>
              Вы можете поддержать проект на
              <a
                href="https://boosty.to/ake111aa"
                class="text-reset"
                target="_blank"
                >boosty</a
              >. Любая поддержка будет ценна.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-add-salary-modal
  *ngIf="openAddSalaryModal"
  [skills]="skills"
  [industries]="industries"
  [professions]="professions"
  (closed)="closeAddSalaryAction()"
  (salaryAdded)="onSalaryAdded($event)"
></app-add-salary-modal>

<app-edit-salary-modal
  *ngIf="openEditCurrentSalaryModal && salariesChart"
  [skills]="skills"
  [industries]="industries"
  [professions]="professions"
  [salarytoBeEdited]="salariesChart.currentUserSalary"
  (closed)="closeEditSalaryAction()"
  (salaryAdded)="onSalaryUpdated($event)"
></app-edit-salary-modal>

<ng-template #dataLoading>
  <div class="container mt-5">
    <app-data-loader></app-data-loader>
  </div>
</ng-template>
