<app-page-header>Зарплаты в Казахстане</app-page-header>

<div class="container my-5" *ngIf="salariesChart != null; else dataLoading">
    <div class="card">
      <div class="card-body">
        Salaries chart goes here
      </div>
    </div>
  </div>

  <app-add-salary-modal
    *ngIf="openAddSalaryModal"
    (closed)="closeAddSalaryAction()"
    (salaryAdded)="onSalaryAdded($event)"
  ></app-add-salary-modal>
  
  <ng-template #dataLoading>
    <div class="container mt-5">
      <app-data-loader></app-data-loader>
    </div>
  </ng-template>