<app-page-header>Зарплаты IT в Казахстане</app-page-header>

<div *ngIf="showDataStub" class="container mt-5 mb-3">


  <div *ngIf="isAuthenticated" class="alert alert-warning" role="alert">
    <div class="mb-2 h3">{{ isYourSalaryWithinMarketTitle }}</div>
    <div class="mb-3">Оставьте данные о своей зарплате, чтобы узнать, сколько зарабатывают другие IT-специалисты в Казахстане.</div>
    <div>
      <button class="btn btn-dark" (click)="openAddSalaryAction()">Добавить зарплату</button>
    </div>
  </div>
</div>

<div class="container mb-5" *ngIf="salariesChart != null; else dataLoading">
  <div class="position-relative">
    <div 
      *ngIf="!isAuthenticated"
      class="position-absolute h-100 w-100 d-flex align-items-start justify-content-center pt-5">
      <div class="mt-5 alert alert-info mx-5 z-1">
        <div class="mb-2 h3">{{ isYourSalaryWithinMarketTitle }}</div>
        <div class="mb-5">Зарегистрируйтесь и оставьте данные о своей зарплате, чтобы узнать, сколько зарабатывают другие IT-специалисты в Казахстане.</div>
        <div class="">
          <button
            class="btn btn-primary btn-lg px-5"
            (click)="openAddSalaryAction()">
            Зарегистрироваться
          </button>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-body p-5 {{!isAuthenticated ? 'blur' : ''}}">

        <div *ngIf="salariesChart">
          <div class="mb-3">
            <div *ngIf="showDataStub" class="mb-3">
              <div class="h4">Демонстрационные данные:</div> 
            </div>
    
            <div class="mb-5 d-flex justify-content-between align-items-end">
              <app-salary-block-value
                [title]="'Медианная зарплата:'"
                [value]="salariesChart.medianSalary"></app-salary-block-value>
    
                <div *ngIf="salariesChart.medianRemoteSalary" class="d-none d-md-block">
                  <app-salary-block-remote-value
                    [title]="'На удаленке:'"
                    [value]="salariesChart.medianRemoteSalary"></app-salary-block-remote-value>
                </div>
    
            </div>
    
            <div class="mb-3 d-flex justify-content-between align-items-end">
    
              <app-salary-block-value
                [title]="'Средняя зарплата:'"
                [value]="salariesChart.averageSalary"></app-salary-block-value>
    
                <div *ngIf="salariesChart.averageRemoteSalary" class="d-none d-md-block">
                  <app-salary-block-remote-value
                    [title]="'На удаленке:'"
                    [value]="salariesChart.averageRemoteSalary"></app-salary-block-remote-value>
                </div>
            </div>
           
    
            <div *ngIf="!showDataStub" class="mb-3">
              <div class="text-muted mb-3 fst-italic">
                <span>Рассчитано на основе {{ salariesChart.countOfRecords }} анкет(ы)</span>
              </div>
              <div class="fst-italic text-muted" *ngIf="salariesChart.currentUserSalary">
                <div>Ваша текущая зарплата указана за {{ salariesChart.currentUserSalary.quarter }} квартал {{salariesChart.currentUserSalary.year}} года.</div>
                <div>
                  Вы можете <button type="button" class="btn-link-sm fst-italic font-weight-normal" (click)="openEditSalaryAction()">изменить эти данные</button>
                  или <button type="button" class="btn-link-sm fst-italic font-weight-normal" (click)="openAddSalaryAction()">добавить еще зарплату</button> к статистике.
                </div>
              </div>
            </div>

            <div *ngIf="showDataStub" class="mb-3">
              <div class="text-muted">Данные сгенерированы для <strong>демонстрации</strong>. 
                <button class="btn btn-outline-secondary btn-sm" (click)="openAddSalaryAction()">{{ isAuthenticated ? 'Добавить зарплату' : 'Зарегистрироваться' }}</button> для получения актуальных данных.</div>
            </div>
          </div>          
  
          <div *ngIf="salariesChart.salariesByMoneyBarChart" class="mt-5 mb-5">
            <div class="mb-5">
              <div class="mb-3 h3">
                <span>Графики</span>
                <span *ngIf="showDataStub" class="ms-2">(демонстрационные данные)</span>
              </div>
              <div *ngIf="!showDataStub" class="">
                <i>TODO: в скором времени будет добавлена возможность фильтрации данных по специальностям, грейдам и фреймворкам/языкам программирования</i>
              </div>
            </div>

            <div class="mb-5">
              <app-salary-chart-global-filters
                [filterData]="filterData"
                (filtersApplied)="applyGlobalFilters($event)"
                (filtersReset)="resetGlobalFilters()">
              ></app-salary-chart-global-filters>
            </div>
  
            <div class="mb-5">
              <app-salaries-by-grades-chart
                [chart]="salariesChart.salariesByMoneyBarChart"
                [title]="'Зарплаты в KZ компаниях'"
                [salaries]="salariesChart.salariesPerProfessionForLocal">
              </app-salaries-by-grades-chart>
            </div>

            <div class="mb-5" *ngIf="salariesChart.hasRemoteSalaries">
              <app-salaries-by-grades-chart
                [chart]="salariesChart.salariesByMoneyBarChartForRemote"
                [title]="'Зарплаты удаленщиков'"
                [salaries]="salariesChart.salariesPerProfessionForRemote">
              </app-salaries-by-grades-chart>
            </div>
          </div>
  
          <div class="mb-3 text-muted text-end fst-italic">
            Идея подсмотрена у сервиса <a class="text-reset" href="https://career.habr.com/salaries" target="_blank">Habr.Карьера</a>, за что им большая благодарность.
          </div>
        </div>
        
      </div>
    </div>
    </div>
  </div>

  <app-add-salary-modal
    *ngIf="openAddSalaryModal"
    (closed)="closeAddSalaryAction()"
    (salaryAdded)="onSalaryAdded($event)"
  ></app-add-salary-modal>

  <app-edit-salary-modal
    *ngIf="openEditCurrentSalaryModal && salariesChart"
    [salarytoBeEdited]="salariesChart.currentUserSalary"
    (closed)="closeEditSalaryAction()"
    (salaryAdded)="onSalaryUpdated($event)"
  ></app-edit-salary-modal>
  
  <ng-template #dataLoading>
    <div class="container mt-5">
      <app-data-loader></app-data-loader>
    </div>
  </ng-template>

