/* You can add global styles to this file, and also import other style files */
/* Importing Bootstrap SCSS file. */
@import "bootstrap/scss/bootstrap";
@import "bootstrap-icons/font/bootstrap-icons.css";
@import "_colors";

.footer-wrapper {
  background-color: $bg-petrel-dark;
  color: rgb(240, 240, 240);
}

.bg-petrel-light {
  background-color: $bg-petrel-light;
}

.bg-petrel-primary {
  background-color: $bg-petrel-primary;
}

.bg-petrel-dark {
  background-color: $bg-petrel-dark;
}

input.ng-touched.ng-invalid {
  @extend .is-invalid;
}

input.ng-touched.ng-valid {
  @extend .is-valid;
}

.modal {
  background-color: rgba(0, 0, 0, 0.6);
  -webkit-animation: fadein 0.2s;
  animation: fadein 0.2s;
}

body {
  background-color: $bg-petrel-light;
}

.footer-link {
  color: $bg-petrel-light !important;
  text-decoration: none;

  &:hover {
    color: darken($color: $bg-petrel-light, $amount: 20%) !important;
    text-decoration: underline;
  }
}

.link-as-text {
  color: inherit;
  text-decoration: none;

  &:hover {
    color: darken($color: $bg-petrel-dark, $amount: 20%) !important;
    text-decoration: underline;
  }
}

.btn-huge {
  padding: 0.8rem 1.6rem;
  font-size: 1.6rem;
  border-radius: 0.5rem;
}

ul.no-bullets {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}

.btn-link-sm {
  color: inherit;
  background-color: transparent;
  border: 0;
  font-weight: 600;
  /*font-size: 0.875rem;*/
  text-decoration: none;

  &:disabled {
    color: $color-grey;
    &:hover {
      text-decoration: none;
    }
  }

  &:hover {
    color: darken($color: $color-dark, $amount: 20%);
    text-decoration: underline;
  }

  &.btn-link-danger {
    color: $color-danger;
    &:hover {
      color: darken($color: $color-danger, $amount: 20%);
    }
  }

  &.btn-link-warning {
    color: $color-warning;
    &:hover {
      color: darken($color: $color-warning, $amount: 20%);
    }
  }

  &.btn-link-success {
    color: $color-success;
    &:hover {
      color: darken($color: $color-success, $amount: 20%);
    }
  }

  &.btn-link-info {
    color: $color-info;
    &:hover {
      color: darken($color: $color-info, $amount: 20%);
      font-weight: 600;
    }
  }
}

.mt-7 {
  margin-top: 3.75rem;
}

.mt-8 {
  margin-top: 4rem;
}

.mt-9 {
  margin-top: 4.5rem;
}

.mt-10 {
  margin-top: 5.5rem;
}

.px-10 {
  padding-left: 5.5rem;
  padding-right: 5.5rem;
}

/* ng-select bootstrap-like styles. Start */
/* https://github.com/ng-select/ng-select/issues/1955#issuecomment-1240459808 */
/*.form-floating {
  position: relative;

  .ng-select-container {
    height: calc(3.5rem + 2px) !important;
    line-height: 1.25;
  }

  label {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; // allow textareas
    padding: 1rem 0.75rem;
    overflow: hidden;
    text-align: start;
    text-overflow: ellipsis;
    white-space: nowrap;
    pointer-events: none;
    border: 1px solid transparent; // Required for aligning label's text with the input as it affects inner box model
    transform-origin: 0 0;
    transition: opacity 0.1s ease-in-out, transform 0.1s ease-in-out;
  }

  .ng-select-container {
    padding-top: 1.625rem;
    padding-bottom: .625rem;

    .ng-input {
        top: unset !important;
    }
  }

  ng-select {
    ~label {
        opacity: 0.65;
        transform: scale(0.85) translateY(-0.5rem) translateX(0.15rem);
        z-index: 1001;
    }


    &:focus .ng-select-container {
        border-color: #86b7fe;
        outline: 0;
        box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
    }

    &.is-valid .ng-select-container {
        border-color: #198754 !important;
    }

    &.is-valid.ng-select-focused .ng-select-container {
        box-shadow: 0 0 0 0.25rem rgb(25 135 84 / 25%);
    }

    &.is-invalid .ng-select-container {
        border-color: #dc3545 !important;

    }

    &.is-invalid.ng-select-focused .ng-select-container {
        box-shadow: 0 0 0 0.25rem rgb(220 53 69 / 25%);
    }
  }
}*/
