<app-page-header>Админка</app-page-header>

<div class="container my-5">
  <div class="row" *ngIf="dashboardData">
    <div class="col-md-4 mb-3">
      <div class="card card-body p-3">
        <div class="h5">Средняя оценка статистики</div>
        <app-star-rating-readonly
          [source]="dashboardData.averageRatingData.averageRating"
        ></app-star-rating-readonly>
        <div class="mt-1">
          <span class="h5">{{
            dashboardData.averageRatingData.averageRating.toFixed(2)
          }}</span>
          <span class="text-muted small ms-1"
            >({{ dashboardData.averageRatingData.count }})</span
          >
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-3">
      <div class="card card-body p-3">
        <div class="h5">Кол-во анкет ЗП</div>
        <div class="mt-1 h2">
          {{ dashboardData.totalSalaries }}
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-3">
      <div class="card card-body p-3">
        <div class="h5">Кол-во отзывов на компании</div>
        <div class="mt-1 h2">
          {{ dashboardData.totalCompanyReviews }}
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-3">
      <div class="card card-body p-3">
        <div class="h5">Отписанных от емейлов</div>
        <div class="mt-1 h2">
          {{ dashboardData.usersWithUnsubscribeMeFromAllCount }}
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-3">
      <div class="card card-body p-3">
        <div class="h5">Емейлов отправлено</div>
        <div class="mt-1">
          <app-items-per-day-chart
            [source]="dashboardData.userEmailsForLastDays"
            [datasetTitle]="'Тренд данных за 10 дней'"
          />
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-3">
      <div class="card card-body p-3">
        <div class="h5">Лайков на отзывы</div>
        <div class="mt-1">
          <app-items-per-day-chart
            [source]="dashboardData.reviewLikesForLastTenDays"
            [datasetTitle]="'Тренд данных за 10 дней'"
          />
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-3">
      <div class="card card-body p-3">
        <div class="h5">Отзывов оставлено</div>
        <div class="mt-1">
          <app-items-per-day-chart
            [source]="dashboardData.reviewsForLastTenDays"
            [datasetTitle]="'Тренд данных за 10 дней'"
          />
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-3">
      <div class="card card-body p-3">
        <div class="h5">Сообщений Github Profile Bot</div>
        <div class="mt-1">
          <app-items-per-day-chart
            [source]="dashboardData.githubProfileBotMessages"
            [datasetTitle]="'Тренд данных за 10 дней'"
          />
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-3">
      <div class="card card-body p-3">
        <div class="h5">Инлайн кликов Github Profile Bot</div>
        <div class="mt-1">
          <app-items-per-day-chart
            [source]="dashboardData.inlineClicksToGithubProfileBot"
            [datasetTitle]="'Тренд данных за 10 дней'"
          />
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-3">
      <div class="card card-body p-3">
        <div class="h5">Сообщений Salaries Bot</div>
        <div class="mt-1">
          <app-items-per-day-chart
            [source]="dashboardData.salariesBotMessages"
            [datasetTitle]="'Тренд данных за 10 дней'"
          />
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-3">
      <div class="card card-body p-3">
        <div class="h5">Инлайн кликов Salaries Bot</div>
        <div class="mt-1">
          <app-items-per-day-chart
            [source]="dashboardData.inlineClicksToSalariesBot"
            [datasetTitle]="'Тренд данных за 10 дней'"
          />
        </div>
      </div>
    </div>
  </div>
</div>
