<app-page-header>Org candidates</app-page-header>

<div class="container my-5" *ngIf="candidates; else dataLoading">
  <div class="card">
    <div class="card-body">
      <div class="table-responsive mb-3" *ngIf="candidates.totalItems > 0; else nothingToShow">
        <table class="table table-hover table-sm">
          <thead>
            <th>#</th>
            <th>Candidate</th>
            <th>Created by</th>
            <th>Active</th>
            <th>Last update</th>
          </thead>
          <tbody>
            <tr *ngFor="let item of candidates.results; let i = index">
              <td>{{ i + 1 }}</td>
              <td>{{ item.firstName }} {{ item.lastName }}</td>
              <td><app-user-link [css]="'link-as-text'" [user]="item.createdBy"></app-user-link></td>
              <td><app-status-label [status]="item.active"></app-status-label></td>
              <td>{{ item.updatedAt | date: 'HH:mm yyyy-MM-dd' }}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <app-pagination-buttons [source]="candidates" (pageChange)="load($event)"></app-pagination-buttons>
    </div>
  </div>
</div>

<ng-template #dataLoading>
  <div class="container mt-5">
    <app-data-loader></app-data-loader>
  </div>
</ng-template>

<ng-template #nothingToShow>
  <div class="mb-3 bg-light border p-3 rounded">
    <div class="text-center text-muted">No one has created any candidate card</div>
  </div>
</ng-template>
