<app-page-header>{{ company?.name }}</app-page-header>

<div class="container my-5" *ngIf="company; else dataLoading">
  <div class="card">
    <div class="card-body p-5">
      <div class="mb-3">
        <div class="h2 mb-2">
          <div class="" *ngIf="company.reviewsCount > 0">
            <span>{{ company.rating | number: "1.2-2" }}</span>
            <div class="ms-2 d-inline-block">
              <app-star-rating-readonly
                [source]="company.rating"
              ></app-star-rating-readonly>
            </div>
          </div>
          <span class="" *ngIf="company.reviewsCount === 0">Нет оценок</span>
        </div>

        <div class="small text-muted">
          <span class="me-2">Отзывов:</span>
          <span class="">{{ company.reviewsCount }}</span>
        </div>
      </div>

      <div class="mb-2">
        <div class="h5">О компании</div>
        <div [innerHTML]="company.description"></div>
      </div>

      <div *ngIf="company.links.length > 0" class="mb-2">
        <div *ngFor="let link of company.links">
          <a href="{{ link }}" target="_blank" class="btn btn-link">{{
            link
          }}</a>
        </div>
      </div>

      <div class="d-flex justify-content-between">
        <app-go-back-button
          [routerLink]="'/companies'"
          [text]="'К списку компаний'"
        />
        <button
          type="button"
          *ngIf="company.reviewsCount > 0"
          (click)="leaveReview()"
          class="btn btn-outline-primary"
        >
          <i class="bi bi-pencil-fill"></i> Оставить отзыв
        </button>
      </div>
      <div class="text-muted mt-2 small">
        <div>
          Добавленные отзывы появляются в течение некоторого времени после
          модерации.
        </div>
        <div>
          Не переживайте, если не увидели свой отзыв сразу после добавления на
          странице компании, нужно немного подождать.
        </div>
        <div>
          Отзывы - помощь другим людям узнать больше о компании. Отзыв - это
          всегда субъективно, однако будьте, пожалуйста, объективны настолько,
          насколько это возможно.
        </div>
      </div>
    </div>
  </div>

  <div class="h3 mt-5">Отзывы</div>

  <div class="card mt-3" *ngIf="company.reviews.length > 0; else nothingToShow">
    <div class="card-body p-5">
      <div *ngFor="let review of company.reviews" class="mb-5">
        <div class="mb-2">
          <button
            class="btn btn-link h5 text-dark total-rating-link"
            type="button"
            data-bs-toggle="collapse"
            [attr.data-bs-target]="'#collapseExample-' + review.id"
            aria-expanded="false"
            [attr.aria-controls]="'collapseExample-' + review.id"
          >
            <span class="h5">{{ review.totalRating | number: "1.2-2" }}</span>
            <i class="ms-2 bi bi-caret-down-fill"></i>
          </button>
          <div class="ms-2 d-inline-block">
            <app-star-rating-readonly
              [source]="review.totalRating"
            ></app-star-rating-readonly>
          </div>

          <div class="collapse" id="collapseExample-{{ review.id }}">
            <div class="card card-body small">
              <div class="row">
                <div class="col-md-6">
                  <div class="mb-2">
                    <span>Культура и ценности</span>
                    <app-star-rating-readonly
                      [source]="review.cultureAndValues"
                    ></app-star-rating-readonly>
                  </div>

                  <div *ngIf="review.codeQuality" class="mb-2">
                    <span>Качество кода</span>
                    <app-star-rating-readonly
                      [source]="review.codeQuality"
                    ></app-star-rating-readonly>
                  </div>

                  <div class="mb-2">
                    <span>Work / Life баланс</span>
                    <span>
                      <app-star-rating-readonly
                        [source]="review.workLifeBalance"
                      ></app-star-rating-readonly>
                    </span>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="mb-2">
                    <span>Компенсация и бонусы</span>
                    <app-star-rating-readonly
                      [source]="review.compensationAndBenefits"
                    ></app-star-rating-readonly>
                  </div>

                  <div class="mb-2">
                    <span>Карьерные возможности</span>
                    <app-star-rating-readonly
                      [source]="review.careerOpportunities"
                    ></app-star-rating-readonly>
                  </div>

                  <div class="mb-2">
                    <span>Менеджмент</span>
                    <app-star-rating-readonly
                      [source]="review.management"
                    ></app-star-rating-readonly>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="review.pros" class="mb-2">
          <div class="fw-bold text-success">Плюсы:</div>
          <div [innerHTML]="review.pros"></div>
        </div>
        <div *ngIf="review.cons" class="mb-2">
          <div class="fw-bold text-danger">Минусы:</div>
          <div [innerHTML]="review.cons"></div>
        </div>

        <div class="d-flex justify-content-between mb-2 mt-1">
          <span
            *ngIf="review.approvedAt == null"
            class="review-awaiting-approval-label"
            >Ожидает одобрения</span
          >

          <span *ngIf="review.outdatedAt != null" class="review-outdated-label">
            Отзыв устарел {{ review.outdatedAt | date: "dd.MM.yyyy" }}
          </span>

          <span class="text-muted">
            <i class="bi bi-check-circle-fill me-1"></i>
            {{ review.createdAt | date: "dd.MM.yyyy" }}
          </span>
        </div>

        <hr class="my-2" />
      </div>
    </div>
  </div>
</div>

<ng-template #dataLoading>
  <div class="container mt-5">
    <app-data-loader [title]="''">
      <div class="mt-3 pb-5">
        <div class="text-muted h2 d-flex justify-content-center">
          Загружаем компанию
        </div>
        <div class="mt-3 d-flex justify-content-center">
          <img
            src="https://techinterview.fra1.cdn.digitaloceanspaces.com/images/company_reviews_1000.png"
            class="img-fluid w-30"
            alt="logo"
            title="Кот Магеллан, который любит оставлять отзывы о компаниях"
          />
        </div>
      </div>
    </app-data-loader>
  </div>
</ng-template>

<ng-template #nothingToShow>
  <div class="card">
    <div class="card-body p-5">
      <div class="text-center mt-3">Еще нет отзывов.</div>

      <div class="text-center mt-3">
        <button
          type="button"
          (click)="leaveReview()"
          class="btn btn-outline-primary"
        >
          <i class="bi bi-pencil-fill"></i> Оставить первый отзыв
        </button>
      </div>

      <div class="mt-2 mb-1 d-flex justify-content-center">
        <img
          src="https://techinterview.fra1.cdn.digitaloceanspaces.com/images/cat_reviewing_transparent_1000.png"
          class="img-fluid w-30"
          alt="logo"
          title="Кот Магеллан, который любит оставлять отзывы о компаниях"
        />
      </div>
    </div>
  </div>
</ng-template>
