<app-page-header>{{ company?.name }}</app-page-header>

<div class="container my-5" *ngIf="company; else dataLoading">
  <div class="card">
    <div class="card-body p-5">
      <div class="mb-5">
        <div class="h5">О компании</div>
        <div>{{ company.description }}</div>
      </div>

      <div *ngIf="company.links.length > 0" class="mb-5">
        <div class="h5">Ссылки</div>
        <div *ngFor="let link of company.links">
          <a href="{{ link }}" target="_blank" class="btn btn-link">{{
            link
          }}</a>
        </div>
      </div>

      <div *ngIf="company.reviews.length > 0; else nothingToShow" class="mb-5">
        <hr class="my-2" />
        <div class="h5">Отзывы</div>
        <div *ngFor="let review of company.reviews"></div>
      </div>
    </div>
  </div>
</div>

<ng-template #dataLoading>
  <div class="container mt-5">
    <app-data-loader></app-data-loader>
  </div>
</ng-template>

<ng-template #nothingToShow>
  <hr class="my-2" />
  <div class="text-center mt-3">Еще нет отзывов.</div>

  <div class="text-center mt-3">
    <a
      routerLink="/companies/{{ company?.id }}/add-review"
      class="btn btn-outline-primary"
    >
      <i class="bi bi-plus-circle"></i> Написать отзыв</a
    >
  </div>
</ng-template>
