<div *ngIf="source">
  <div
    class="alert alert-info p-5"
    *ngIf="currentMode === 'UserHasRepliedBefore'"
  >
    <span class="h5">Вы уже оценили этот отчет. Спасибо за оценку!</span>
  </div>

  <div class="card" *ngIf="currentMode === 'ShowRatingBlock'">
    <div class="card-body p-5">
      <div class="mb-3">
        <div class="h5 mb-1">
          Была ли вам полезна информация в зарплатном отчете?
        </div>
        <div class="text-muted">
          Оценка важна для нас, чтобы улучшить качество отчетов и графиков.
        </div>
      </div>
      <app-star-rating [maxValue]="5" (ratingChange)="ratingChanged($event)" />
    </div>
  </div>

  <div *ngIf="currentMode === 'ShowSuccessBlock'">
    <app-thank-you-for-feedback></app-thank-you-for-feedback>
  </div>
</div>
