<app-page-header>Подписки на обновления зарплат</app-page-header>

<div class="container my-5" *ngIf="items; else dataLoading">
  <div class="card">
    <div class="card-body">
      <div
        class="table-responsive mb-3"
        *ngIf="items && items.length > 0; else nothingToShow"
      >
        <table class="table table-hover table-sm">
          <thead class="small">
            <th>Название</th>
            <th>Chat ID</th>
            <th>Специальности</th>
            <th>Удалено</th>
            <th>Создано</th>
            <th>Обновлено</th>
            <th></th>
          </thead>
          <tbody>
            <tr class="small" *ngFor="let item of items; let i = index">
              <td>{{ item.name }}</td>
              <td>{{ item.telegramChatId }}</td>
              <td>{{ item.professionIds }}</td>
              <td>{{ item.deletedAt | date : "yyyy-MM-dd HH:mm" }}</td>
              <td>{{ item.createdAt | date : "yyyy-MM-dd HH:mm" }}</td>
              <td>{{ item.updatedAt | date : "yyyy-MM-dd HH:mm" }}</td>
              <td>
                <button
                  *ngIf="item.deletedAt != null"
                  type="button"
                  class="btn-link-sm text-success"
                  (click)="activate(item)"
                >
                  Активировать
                </button>
                <button
                  *ngIf="item.deletedAt == null"
                  type="button"
                  class="btn-link-sm text-danger"
                  (click)="deactivate(item)"
                >
                  Деактивировать
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="" *ngIf="source && source.results.length > 0">
        <app-pagination-buttons
          [source]="source"
          (pageChange)="loadData($event)"
        ></app-pagination-buttons>
      </div>
    </div>
  </div>
</div>

<ng-template #nothingToShow>
  <div class="card">
    <div class="card-body">
      <div class="text-center">Нет данных.</div>
    </div>
  </div>
</ng-template>

<ng-template #dataLoading>
  <div class="container mt-5">
    <app-data-loader></app-data-loader>
  </div>
</ng-template>
