<div class="mb-5">
  <div class="h4 mb-3">Польза статистики, все ответы вместе</div>
  <div class="chart-container">
    <canvas class="chart" id="usefulness-chart">{{ usefulnessChart }}</canvas>
  </div>
</div>

<div class="mb-5">
  <div class="h4 mb-3">Ожидания от статистики, все ответы вместе</div>
  <div class="chart-container">
    <canvas class="chart" id="expectation-chart">{{ expectationChart }}</canvas>
  </div>
</div>

<div class="mb-2">
  <div class="mb-1">
    Ниже вы можете включить группы графиков для соответствующего грейда
  </div>
  <div class="">
    <button
      *ngFor="let button of gradesButtons"
      type="button"
      class="me-2 btn btn-sm {{ button.bgCss }} {{ button.textCss }}"
      (click)="button.toggle()"
    >
      {{ button.label }}
    </button>
  </div>
</div>

<div class="mb-5">
  <div class="h4 mb-3">Польза статистики по мнению тех, кто работает на Казахстан</div>
  <div class="chart-container">
    <canvas class="chart" id="usefulness-grade-local-chart">{{ usefulnessGradeLocalChart }}</canvas>
  </div>
</div>

<div class="mb-5">
  <div class="h4 mb-3">Польза статистики по мнению тех, кто работает на удаленке</div>
  <div class="chart-container">
    <canvas class="chart" id="usefulness-grade-remote-chart">{{ usefulnessGradeRemoteChart }}</canvas>
  </div>
</div>

<div class="mb-5">
  <div class="h4 mb-3">Ожидания по статистике у тех, кто работает на Казахстан</div>
  <div class="chart-container">
    <canvas class="chart" id="expectation-grade-local-chart">{{ expectationGradeLocalChart }}</canvas>
  </div>
</div>

<div class="mb-5">
  <div class="h4 mb-3">Ожидания по статистике у тех, кто работает на удаленке</div>
  <div class="chart-container">
    <canvas class="chart" id="expectation-grade-remote-chart">{{ expectationGradeRemoteChart }}</canvas>
  </div>
</div>