<app-page-header>Org candidate cards</app-page-header>

<div class="container my-5">
  <div class="card">
    <div class="card-body">
      <div class="mb-3 d-flex justify-content-between">
        <div class="w-25 d-inline-block">
          <ng-select
            [items]="allStatuses"
            [hideSelected]="true"
            [selectOnTab]="true"
            [ngModelOptions]="{ standalone: true }"
            bindLabel="label"
            placeholder="Select employment statuses"
            appendTo="body"
            [multiple]="true"
            [(ngModel)]="statusesFilter"
          >
          </ng-select>
        </div>
        <div class="w-15">
          <ng-select
            [items]="activeOrArchivedOptions"
            [selectOnTab]="true"
            [ngModelOptions]="{ standalone: true }"
            bindLabel="label"
            placeholder="Select employment statuses"
            appendTo="body"
            [(ngModel)]="selectedArhivedOrActive"
          >
          </ng-select>
        </div>
        <div class="d-inline-block">
          <button type="button" class="btn-link-sm me-2" (click)="allStatusesSelect()">All statuses</button>
          <button type="button" class="btn-link-sm" (click)="load()">Apply</button>
        </div>
      </div>

      <div *ngIf="cards; else dataLoading">
        <div class="table-responsive mb-3" *ngIf="cards.totalItems > 0; else nothingToShow">
          <table class="table table-hover table-sm">
            <thead>
              <th>#</th>
              <th>Candidate</th>
              <th>Open by</th>
              <th>Status</th>
              <th>Active</th>
              <th>Last update</th>
              <th></th>
            </thead>
            <tbody>
              <tr *ngFor="let item of cards.results; let i = index">
                <td>{{ i + 1 }}</td>
                <td>{{ item.candidate!.firstName }} {{ item.candidate!.lastName }}</td>
                <td><app-user-link [css]="'link-as-text'" [user]="item.openBy"></app-user-link></td>
                <td><app-employment-status [status]="item.employmentStatus"></app-employment-status></td>
                <td><app-status-label [status]="item.active"></app-status-label></td>
                <td>{{ item.updatedAt | date: 'HH:mm yyyy-MM-dd' }}</td>
                <td>
                  <a routerLink="/candidate-cards/{{ item.id }}" class="btn-link-sm">Open</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <app-pagination-buttons [source]="cards" (pageChange)="load($event)"></app-pagination-buttons>
      </div>
    </div>
  </div>
</div>

<ng-template #dataLoading>
  <div class="container mt-5">
    <app-data-loader></app-data-loader>
  </div>
</ng-template>

<ng-template #nothingToShow>
  <div class="mb-3 bg-light border p-3 rounded">
    <div class="text-center text-muted">No one has created any candidate card</div>
  </div>
</ng-template>
