<app-page-header>Компании</app-page-header>

<div class="container my-5" *ngIf="companies; else dataLoading">
  <div class="card">
    <div class="card-body">
      <div *ngIf="companies.length > 0; else nothingToShow">
        <div
          *ngFor="let item of companies; let i = index"
          class="mb-5"
          (click)="navigateToCompany(item.id)"
        >
          <div class="h5">{{ item.name }}</div>
          <div class="small">{{ item.description }}</div>
        </div>
      </div>

      <div class="mt-5" *ngIf="source && source.results.length > 0">
        <app-pagination-buttons
          [source]="source"
          (pageChange)="loadData($event)"
        ></app-pagination-buttons>
      </div>
    </div>
  </div>

  <ng-template #dataLoading>
    <div class="container mt-5">
      <app-data-loader></app-data-loader>
    </div>
  </ng-template>

  <ng-template #nothingToShow>
    <div class="card">
      <div class="card-body">
        <div class="text-center">
          Еще нет ни одной компании, о которой можно было бы оставить отзыв.
        </div>
      </div>
    </div>
  </ng-template>
</div>
